/*body {
    font-family: verdana;
    font-size: 10px;
}*/

/* table { */
/*     border: solid; */
/* } */

/* td { */
/*     border: solid; */
/*     border-width: 1px; */
/* } */

td, th {
    border: none;
    vertical-align: middle;
}

thead th {
    background: #F8F8F8;
}

.specify-form-header, .specify-subview-header {
    border-bottom: solid 1px;
}

.specify-form-header > a, .specify-subview-header > a {
    margin-left: 1em;
    font-size: 0.5em;
}

.specify-form-header img {
    vertical-align: bottom;
    margin: 0 2px 2px 0;
    height: 24px;
}

textarea {
    width: 100%;
}

input.specify-field[type="text"], .querycbx-strct input, .specify-object-formatted {
    width: 100%;
}

select.specify-field {
    width: 100%;
}

.specify-required-field {
    background-color: #C8E6FF;
}

.separator {
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.specify-form-label {
    text-align: right;
}

.specify-checkbox-label {
    vertical-align: middle;
    margin-left: 3px;
}

.querycbx-strct {
    display: table;
    width: 100%;
}

.querycbx-strct input {
    display: table-cell;
}

.querycbx-strct a {
    display: table-cell;
    width: 16px;
}

.querycbx-edit, .querycbx-display {
    padding-left: 6px;
}

ul.ui-autocomplete li.ui-menu-item {
    list-style-type: none;
}

.specify-subview-button-count {
    padding: 3px;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #CCC;
    color: #555;
}

.specify-subviewbutton-icon {
    padding-right: 5px;
}

.specify-subview-button .ui-button-text div {
    display: table-row;
}

.specify-subview-button a {
    vertical-align: middle;
}

.specify-subviewbutton-icon, .specify-subview-button-count {
    display: table-cell;
}

.specify-formtable td, .specify-formtable th {
    text-align: center;
}

.specifyplugin-latlonui table {
    width: 100%;
}

.specifyplugin-latlonui th, .specifyplugin-latlonui td {
    text-align: center;
}

.specify-datamodel-attrs dt, .specify-datamodel-attrs dd {
    display: inline;
    margin: 5px;
}

input[type="submit"].saveblocked {
    background: red;
}

.saveblocked {
    background-color: red;
}

.tooltip {
    display: none;
    position: absolute;
    text-align: center;
    color: grey;
}

.tooltip-content {
    background-color: grey;
    color: white;
    padding: 8px;
    border-width: 1px;
    border-color: black;
    margin-top: -3px;
}

.tooltip li {
    list-style-type: none;
}

.welcome div {
    vertical-align: top;
}

.welcome h2 {
    border-bottom: solid 1px;
}

.welcome ul {
    padding: 0;
}

.welcome li img {
    vertical-align: middle;
    margin-right: 10px;
    height: 24px;
}

.welcome li {
    font-size: 13px;
    font-weight: bold;
}

.welcome .forms, .welcome .recordsets {
    display: inline-block;
    margin: 0 20px 0px 20px;
}

.welcome .recordset-edit .ui-icon {
    display: inline-block;
    vertical-align: middle;
}

.savebutton, .deletebutton {
    display: inline;
}

.ui-dialog-title .ui-icon {
    display: inline-block;
}

.specify-attachment-container {
    position: relative;
}

.specify-attachment-display {
    width: 510px;
    height: 510px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #aaa;
    background-color: #000;
}

a.specify-attachment-original {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #eee;
}

.recordselector-slider {
    margin: 6px 20px;
}

.recordselector-slider .ui-slider-handle {
    min-width: 1.2em;
    width: auto;
    text-align: center;
    padding: 2px 3px 2px 3px;
}
