/*body {
    font-family: verdana;
    font-size: 10px;
}*/

/* table { */
/*     border: solid; */
/* } */

/* td { */
/*     border: solid; */
/*     border-width: 1px; */
/* } */

#express-search {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 10px 5px;
}

.specify-form-header, .specify-subview-header {
    border-bottom: solid 1px;
}

.specify-form-header > a, .specify-subview-header > a {
    margin-left: 1em;
    font-size: 0.5em;
}

.specify-form-header img {
    vertical-align: bottom;
    margin: 0 2px 2px 0;
    height: 24px;
}

textarea.specify-field {
    width: 100%;
}

input.specify-field[type="text"], .querycbx-strct input, .specify-object-formatted {
    width: 100%;
    box-sizing: border-box;
}

select.specify-field {
    width: 100%;
}

.specify-required-field {
    background-color: #C8E6FF;
}

h1.separator,
h2.separator,
h3.separator,
h4.separator,
h5.separator {
    border-bottom: solid 1px;
}

hr.separator {
    border: none;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.specify-form-label {
    text-align: right;
}

.specify-checkbox-label {
    vertical-align: middle;
    margin-left: 3px;
}

.querycbx-strct {
    display: table;
    width: 100%;
}

.querycbx-strct input {
    display: table-cell;
}

.querycbx-strct a {
    display: table-cell;
    width: 16px;
}

table.partialdateui-strct td:first-child {
    padding: 0px;
}

ul.ui-autocomplete li.ui-menu-item {
    list-style-type: none;
}

.specify-subview-button-count {
    padding: 3px;
    font-weight: bold;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #777;
    color: #444;
}

.specify-subviewbutton-icon {
    padding-right: 5px;
}

.specify-subview-button .ui-button-text div {
    display: table-row;
}

.specify-subview-button a {
    vertical-align: middle;
}

.specify-subviewbutton-icon, .specify-subview-button-count {
    display: table-cell;
}

.specify-formtable td, .specify-formtable th {
    text-align: center;
}

.specifyplugin-latlonui table {
    width: 100%;
}

.specifyplugin-latlonui th, .specifyplugin-latlonui td {
    text-align: center;
}

.specify-datamodel-attrs dt, .specify-datamodel-attrs dd {
    display: inline;
    margin: 5px;
}

input[type="submit"].saveblocked {
    background: red;
}

.saveblocked {
    background-color: red;
}

.tooltip {
    display: none;
    position: absolute;
    text-align: center;
    color: grey;
}

.tooltip-content {
    background-color: grey;
    color: white;
    padding: 8px;
    border-width: 1px;
    border-color: black;
    margin-top: -3px;
}

.tooltip li {
    list-style-type: none;
}

.welcome div {
    vertical-align: top;
}

.welcome h2 {
    border-bottom: solid 1px;
}

.welcome ul {
    padding: 0;
}

.welcome li img {
    vertical-align: middle;
    margin-right: 10px;
    height: 24px;
}

.welcome li {
    font-size: 13px;
    font-weight: bold;
}

.welcome .forms, .welcome .recordsets {
    display: inline-block;
    margin: 0 20px 0px 20px;
}

.welcome .recordset-edit .ui-icon {
    display: inline-block;
    vertical-align: middle;
}

.savebutton, .deletebutton {
    display: inline;
}

.ui-dialog-titlebar a {
    float: left;
}

.specify-attachment-container {
    position: relative;
}

.specify-attachment-display {
    width: 510px;
    height: 510px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #aaa;
    background-color: #000;
}

a.specify-attachment-original {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #eee;
}

.recordselector-slider {
    margin: 6px 20px;
}

.recordselector-slider .ui-slider-handle {
    min-width: 1.2em;
    width: auto;
    text-align: center;
    padding: 2px 3px 2px 3px;
}

div.results div {
    max-height: 20em;
    overflow: scroll;
}

.list-dialog ul {
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

.list-dialog li img {
    vertical-align: middle;
    margin-right: 10px;
}

.list-dialog li {
    position: relative;
}

.list-dialog li a {
    display: inline-block;
    float: right;
}

.list-dialog li a:first-child {
    float: none;
}

.querybuilder-expand {
    width: 100%
}

.querybuilder-expand .ui-button-text {
    padding: 0;
}

.spqueryfields {
    padding: 0;
    margin-bottom: 4px;
}


.spqueryfield-delete {
    height: 24px;
    border: 1px inset;
    background-color: #fff;
}

.spqueryfield-delete span {
    margin-left: auto;
    margin-right: auto;
}

.spqueryfield span {
    margin: 0;  /* 10px 0 10px; */
}

.spqueryfield .field-operation,
.spqueryfield .field-label-field,
.spqueryfield .field-label-datepart,
.spqueryfield .field-label-treerank,
.spqueryfield button {
    margin-right: 10px;
}

.spqueryfield label.ui-state-active {
    background-color: #ffa;
}

.spqueryfield button {
    vertical-align: middle;
    padding-bottom: 8px;
}

.spqueryfield .field-sort {
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    width: 20px;
}

.spqueryfield .field-sort span {
    padding: 0;
}