<h2 class="specify-form-header">
  <span class="view-title"><%= viewTitle %></span>
  <span class="recordset-info">
    <% if (recordsetInfo) { %>
    (<%= recordsetInfo.index + 1 %> / <%= recordsetInfo.total_count %>)
    <% } %>
    <% if (recordsetName) { %>in &quot;<%= recordsetName %>&quot;<% } %>
  </span>
  <% if (prevUrl) { %><a class="recordset-prev" href="<%= prevUrl %>">previous</a><% } %>
  <% if (nextUrl) { %><a class="recordset-next" href="<%= nextUrl %>">next</a><% } %>
  <% if (newUrl) { %>
  <a href="<%= newUrl %>" class="recordset-new">new</a>
  <% } %>
</h2>



