Dockerfile
.github
ve
specifyweb/settings/local_*
specifyweb/settings/build_version.py
specifyweb/settings/secret_key.py
specifyweb/settings/debug.py
specifyweb/frontend/locale/*/*.mo
specifyweb/frontend/js_src/node_modules
specifyweb/frontend/testBuild
specifyweb/frontend/static/js
# Prevent *.env files from being included in a container (for security)
*.env
