*.pyc
*~
.vagrant
.emacs.desktop*
.directory
testing
specifypanel/ve
specifyweb/virtenv

/specifyweb/settings/local_settings.py
/specifyweb/settings/local_specify_settings.py
/specifyweb/settings/local_logging_settings.py
/specifyweb/settings/debug.py
/specifyweb/settings/secret_key.py



# Build artifacts:
/specifyweb/settings/build_version.py
/specifyweb/frontend/static/css/main-built.css
/specifyweb/frontend/static/js
/specifyweb/frontend/static/css
/specifyweb/frontend/js_src/bower_components
/specifyweb/frontend/js_src/node_modules
/specifyweb/frontend/templates/specify-built.html
/local_specifyweb_apache.conf

