*.pyc
*~
.vagrant
.emacs.desktop*
.directory
testing
specifypanel/ve
specifyweb/virtenv

/db_map.json
/htpasswd

/specifyweb/settings/local_settings.py
/specifyweb/settings/local_specify_settings.py
/specifyweb/settings/local_logging_settings.py
/specifyweb/settings/secret_key.py

# Build artifacts:
/specifyweb/build_version.py
/specifyweb/frontend/static/css/main-built.css
/specifyweb/frontend/static/js/main-built.js
/specifyweb/frontend/templates/specify-built.html

