kombu==5.2.4
celery[redis]==5.2.7
Django==3.2.15
mysqlclient==2.1.1
SQLAlchemy==1.2.11
requests==2.32.2
pycryptodome==3.21.0
PyJWT==2.3.0
django-auth-ldap==1.2.17
jsonschema==3.2.0
typing-extensions==4.3.0
