setuptools>=50.0.0
tzdata
wheel
# backports.zoneinfo==0.2.1
kombu==5.5.2
celery[redis]==5.5.1
Django==4.2.22
mysqlclient==2.1.1
SQLAlchemy==1.4.54
sqlalchemy2-stubs
requests==2.32.4
pycryptodome==3.21.0
PyJWT==2.4.0
django-auth-ldap==1.2.17
jsonschema==4.0.1
typing-extensions==4.12.2
stream-zip==0.0.83
# pytz-stubs>=2023.3
