kombu==5.2.4
celery[redis]==5.2.7
Django==3.2.15
mysqlclient==2.1.1
SQLAlchemy==1.2.13
requests==2.32.2
pycryptodome==3.15.0
PyJWT==2.3.0
django-auth-ldap==1.2.15
jsonschema==3.2.0
typing-extensions==4.3.0
django-model-utils==4.4.0
