<table class="specify-formtable">
  <thead>
    <tr>
      <th></th>
      <!-- labels go here -->
    </tr>
  </thead>
  <tbody class="specify-view-content-container">
    <tr class="specify-view-content" id="specify-view-<%= formNumber %>">
      <td>
        <a class="specify-edit"><span class="ui-icon ui-icon-pencil">edit</span></a>
        <a class="specify-display"><span class="ui-icon ui-icon-triangle-1-e">display</span></a>
      </td>
      <!-- cells go here -->
    </tr>
  </tbody>
</table>
