<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Conforming XHTML 1.0 Strict Template</title>
  <link rel="stylesheet" type="text/css" href="/static/specifyform.css" />
  <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/static/specifyform.js"></script>
  <script type="text/javascript">
//<![CDATA[
var view = "{{ params.view }}";
var id = "{{ params.id }}";
//]]>
  </script>
</head>

<body>

</body>
</html>
