{% extends "base_site.html" %}
{% load i18n %}
{% block extrastyle %}
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/specifyform.css">
{% endblock %}

{% block extrahead %}
  <script data-main="/static/js/main.js" src="/static/js/vendor/require.js"></script>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}
{% endblock %}
