<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Conforming XHTML 1.0 Strict Template</title>
</head>

<body>
  <h2>Specify JQuery Demo</h2>

  <h3>Some examples:</h3>
  <ul>
    <li><a href="/specify/view/collectionobject/12/">Collection Object</a></li>
    <li><a href="/specify/view/collectionobject/102/">Collection Object</a></li>
    <li><a href="/specify/view/collectingevent/12/">Collecting Event</a></li>
  </ul>
  <p>Edit the location bar to try it for any object you like.</p>
</body>
</html>
