{% extends "base_site.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}Specify jQuery Demo{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a></div>{% endblock %}

{% block content_title %}Specify jQuery Demo{% endblock %}


{% block content %}
  <h3>Some examples:</h3>
  <ul>
    <li><a href="/specify/view/collectionobject/12/">A Collection Object</a></li>
    <li><a href="/specify/view/collectionobject/102/">Another Collection Object</a></li>
    <li><a href="/specify/view/collectingevent/12/">A Collecting Event</a></li>
    <li><a href="/specify/view/agent/132/">An Agent</a></li>
    <li><a href="/specify/view/taxon/11760/">A Taxon</a></li>
    <li><a href="/specify/recordset/1/">A Record Set</a></li>
  </ul>

  <p>The database this is running on top of is just for testing, so
  feel free to modify the contents using the save button.
  </p>

  <p>You can also edit the location bar to jump to arbitrary objects.</p>

  <h3>The Code:</h3>

  <p>The code is available on
    github <a href="https://github.com/benanhalt/djangospecify">here</a>.
    There are instructions there on how to run the demo locally. Of
    primary interest is the jQuery front end, which at this point
    consists of three files:
  </p>

  <ul>
    <li><a href="https://github.com/benanhalt/djangospecify/blob/master/specify/static/specifyform.js">
        specifyform.js</a> processes existing Specify resources to
        build DOMs in the browser for displaying Specify views</li>
    <li><a href="https://github.com/benanhalt/djangospecify/blob/master/specify/static/populateform.js">
        populateform.js</a> pulls data from the RESTful back end and
        uses the functionality in <code>specifyform.js</code> to build
        and populate a view for a particular object.</li>
    <li><a href="https://github.com/benanhalt/djangospecify/blob/master/specify/static/putform.js">
        putform.js</a> extracts data from a view and updates the back end via HTTP PUT.</li>
  </ul>
{% endblock %}
