<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.use_identifer_rollback">true</property>

        <!-- Use JTA for Transactions -->
        <!--
        <property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
        <property name="jta.UserTransaction">java:comp/UserTransaction</property>
        -->

		<!-- Use EHCache -->
		<!--
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="cache.use_query_cache">true</property>
		-->

		<!-- For debugging -->
		<!--
		<property name="hibernate.show_sql">true</property>
		-->

		<!-- c3p0 connection pooling -->
		<!-- the hibernate.c3p0.max_size property MUST BE EXPLICITLY set for Hibernate to use C3P0 -->
		<property name="hibernate.c3p0.initialPoolSize">3</property>

        <property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.idle_test_period">60</property>
		<property name="hibernate.c3p0.timeout">25200</property>
		<property name="hibernate.c3p0.max_size">15</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		<!--
		<property name="hibernate.c3p0.maxIdleTime">60</property>
		-->

		<property name="hibernate.jdbc.batch_size">25</property>

		<!-- Specify mapping files. -->
		<mapping class="edu.ku.brc.specify.datamodel.Accession"/>
		<mapping class="edu.ku.brc.specify.datamodel.AccessionAgent"/>
		<mapping class="edu.ku.brc.specify.datamodel.AccessionAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.AccessionAuthorization"/>
		<mapping class="edu.ku.brc.specify.datamodel.AccessionCitation"/>
		<mapping class="edu.ku.brc.specify.datamodel.Address"/>
		<mapping class="edu.ku.brc.specify.datamodel.AddressOfRecord"/>
		<mapping class="edu.ku.brc.specify.datamodel.Agent"/>
		<mapping class="edu.ku.brc.specify.datamodel.AgentAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.AgentGeography"/>
		<mapping class="edu.ku.brc.specify.datamodel.AgentSpecialty"/>
		<mapping class="edu.ku.brc.specify.datamodel.AgentVariant"/>
		<mapping class="edu.ku.brc.specify.datamodel.AgentIdentifier"/>
		<mapping class="edu.ku.brc.specify.datamodel.Appraisal"/>
		<mapping class="edu.ku.brc.specify.datamodel.Attachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.AttachmentImageAttribute"/>
		<mapping class="edu.ku.brc.specify.datamodel.AttachmentMetadata"/>
		<mapping class="edu.ku.brc.specify.datamodel.AttachmentTag"/>
		<mapping class="edu.ku.brc.specify.datamodel.AttributeDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.Author"/>
		<mapping class="edu.ku.brc.specify.datamodel.AutoNumberingScheme"/>
		<mapping class="edu.ku.brc.specify.datamodel.BorrowAgent"/>
		<mapping class="edu.ku.brc.specify.datamodel.Borrow"/>
        <mapping class="edu.ku.brc.specify.datamodel.BorrowAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.BorrowMaterial"/>
		<mapping class="edu.ku.brc.specify.datamodel.BorrowReturnMaterial"/>
		<mapping class="edu.ku.brc.specify.datamodel.Collection"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingEvent"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingEventAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingEventAttr"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionObjectCitation"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionObject"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionObjectAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionObjectAttr"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionObjectProperty"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingEventAttribute"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingEventAuthorization"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingTrip"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingTripAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingTripAttribute"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectingTripAuthorization"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionRelType"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionRelationship"/>
		<mapping class="edu.ku.brc.specify.datamodel.Collector"/>
		<mapping class="edu.ku.brc.specify.datamodel.CollectionObjectAttribute"/>
		<mapping class="edu.ku.brc.specify.datamodel.CommonNameTx"/>
		<mapping class="edu.ku.brc.specify.datamodel.CommonNameTxCitation"/>
		<mapping class="edu.ku.brc.specify.datamodel.ConservDescription"/>
		<mapping class="edu.ku.brc.specify.datamodel.ConservDescriptionAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.ConservEvent"/>
		<mapping class="edu.ku.brc.specify.datamodel.ConservEventAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.Container"/>
		<mapping class="edu.ku.brc.specify.datamodel.DataType"/>
        <mapping class="edu.ku.brc.specify.datamodel.Deaccession"/>
        <mapping class="edu.ku.brc.specify.datamodel.DeaccessionAgent"/>
        <mapping class="edu.ku.brc.specify.datamodel.DeaccessionAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.Disposal"/>
		<mapping class="edu.ku.brc.specify.datamodel.DisposalAgent"/>
        <mapping class="edu.ku.brc.specify.datamodel.DisposalAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.DisposalPreparation"/>
		<mapping class="edu.ku.brc.specify.datamodel.DeterminationCitation"/>
		<mapping class="edu.ku.brc.specify.datamodel.Determination"/>
		<mapping class="edu.ku.brc.specify.datamodel.Determiner"/>
		<!--<mapping class="edu.ku.brc.specify.datamodel.DeterminationStatus"/>-->
		<mapping class="edu.ku.brc.specify.datamodel.Discipline"/>
		<mapping class="edu.ku.brc.specify.datamodel.Division"/>
		<mapping class="edu.ku.brc.specify.datamodel.DNAPrimer"/>
		<mapping class="edu.ku.brc.specify.datamodel.DNASequence"/>
        <mapping class="edu.ku.brc.specify.datamodel.DNASequenceAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.DNASequencingRun"/>
		<mapping class="edu.ku.brc.specify.datamodel.DNASequencingRunAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.DNASequencingRunCitation"/>
        <mapping class="edu.ku.brc.specify.datamodel.ExchangeIn"/>
        <mapping class="edu.ku.brc.specify.datamodel.ExchangeInAttachment"/>
        <mapping class="edu.ku.brc.specify.datamodel.ExchangeInPrep"/>
        <mapping class="edu.ku.brc.specify.datamodel.ExchangeOut"/>
        <mapping class="edu.ku.brc.specify.datamodel.ExchangeOutAttachment"/>
        <mapping class="edu.ku.brc.specify.datamodel.ExchangeOutPrep"/>
		<mapping class="edu.ku.brc.specify.datamodel.Exsiccata"/>
		<mapping class="edu.ku.brc.specify.datamodel.ExsiccataItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.Extractor"/>
		<mapping class="edu.ku.brc.specify.datamodel.FieldNotebook"/>
		<mapping class="edu.ku.brc.specify.datamodel.FieldNotebookAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.FieldNotebookPageSet"/>
		<mapping class="edu.ku.brc.specify.datamodel.FieldNotebookPageSetAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.FieldNotebookPage"/>
        <mapping class="edu.ku.brc.specify.datamodel.FieldNotebookPageAttachment"/>
        <mapping class="edu.ku.brc.specify.datamodel.FundingAgent"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeoCoordDetail"/>
		<mapping class="edu.ku.brc.specify.datamodel.Geography"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeographyTreeDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeographyTreeDefItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeologicTimePeriod"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeologicTimePeriodTreeDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeologicTimePeriodTreeDefItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.GeologicTimePeriodTreeDefItem"/>
        <mapping class="edu.ku.brc.specify.datamodel.Gift"/>
        <mapping class="edu.ku.brc.specify.datamodel.GiftAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.GiftAgent"/>
		<mapping class="edu.ku.brc.specify.datamodel.GiftPreparation"/>
		<mapping class="edu.ku.brc.specify.datamodel.GroupPerson"/>
		<mapping class="edu.ku.brc.specify.datamodel.InfoRequest"/>
        <mapping class="edu.ku.brc.specify.datamodel.Institution"/>
        <mapping class="edu.ku.brc.specify.datamodel.InstitutionNetwork"/>
		<mapping class="edu.ku.brc.specify.datamodel.Journal"/>
        <mapping class="edu.ku.brc.specify.datamodel.LatLonPolygon"/>
        <mapping class="edu.ku.brc.specify.datamodel.LatLonPolygonPnt"/>
		<mapping class="edu.ku.brc.specify.datamodel.LithoStrat"/>
		<mapping class="edu.ku.brc.specify.datamodel.LithoStratTreeDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.LithoStratTreeDefItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.LoanAgent"/>
		<mapping class="edu.ku.brc.specify.datamodel.Loan"/>
		<mapping class="edu.ku.brc.specify.datamodel.LoanAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.LoanPreparation"/>
		<mapping class="edu.ku.brc.specify.datamodel.LoanReturnPreparation"/>
		<mapping class="edu.ku.brc.specify.datamodel.LocalityCitation"/>
		<mapping class="edu.ku.brc.specify.datamodel.Locality"/>
		<mapping class="edu.ku.brc.specify.datamodel.LocalityDetail"/>
		<mapping class="edu.ku.brc.specify.datamodel.LocalityAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.LocalityNameAlias"/>
		<mapping class="edu.ku.brc.specify.datamodel.MaterialSample"/>
		<mapping class="edu.ku.brc.specify.datamodel.MorphBankView"/>
		<mapping class="edu.ku.brc.specify.datamodel.OtherIdentifier"/>
		<mapping class="edu.ku.brc.specify.datamodel.PaleoContext"/>
		<mapping class="edu.ku.brc.specify.datamodel.Permit"/>
		<mapping class="edu.ku.brc.specify.datamodel.PermitAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.PickList"/>
		<mapping class="edu.ku.brc.specify.datamodel.PickListItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.Preparation"/>
		<mapping class="edu.ku.brc.specify.datamodel.PreparationAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.PreparationAttribute"/>
		<mapping class="edu.ku.brc.specify.datamodel.PreparationAttr"/>
		<mapping class="edu.ku.brc.specify.datamodel.PreparationProperty"/>
		<mapping class="edu.ku.brc.specify.datamodel.PrepType"/>
		<mapping class="edu.ku.brc.specify.datamodel.Project"/>
		<mapping class="edu.ku.brc.specify.datamodel.RecordSet"/>
		<mapping class="edu.ku.brc.specify.datamodel.RecordSetItem"/>
        <mapping class="edu.ku.brc.specify.datamodel.ReferenceWork"/>
        <mapping class="edu.ku.brc.specify.datamodel.ReferenceWorkAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.RepositoryAgreement"/>
		<mapping class="edu.ku.brc.specify.datamodel.RepositoryAgreementAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.PcrPerson"/>
		<mapping class="edu.ku.brc.specify.datamodel.Shipment"/>

		<mapping class="edu.ku.brc.specify.datamodel.SpAppResourceDir"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpAppResource"/>
        <mapping class="edu.ku.brc.specify.datamodel.SpAppResourceData"/>
        <mapping class="edu.ku.brc.specify.datamodel.SpAuditLog"/>
        <mapping class="edu.ku.brc.specify.datamodel.SpAuditLogField"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpecifyUser"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpExportSchema"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpExportSchemaItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpExportSchemaItemMapping"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpExportSchemaMapping"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpFieldValueDefault"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpLocaleContainer"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpLocaleContainerItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpLocaleItemStr"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpPrincipal"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpPermission"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpQuery"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpQueryField"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpReport"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpSymbiotaInstance"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpTaskSemaphore"/>
        <mapping class="edu.ku.brc.specify.datamodel.SpVersion"/>
        <mapping class="edu.ku.brc.specify.datamodel.SpViewSetObj"/>

        <mapping class="edu.ku.brc.specify.datamodel.SpVisualQuery"/>

		<!--
		<mapping class="edu.ku.brc.specify.datamodel.SpUIAltView"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpUICell"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpUIColumn"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpUIRow"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpUIView"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpUIViewDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.SpUIViewSet"/>
		  -->
		<mapping class="edu.ku.brc.specify.datamodel.Storage"/>
		<mapping class="edu.ku.brc.specify.datamodel.StorageAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.StorageTreeDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.StorageTreeDefItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.Taxon"/>
		<mapping class="edu.ku.brc.specify.datamodel.TaxonAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.TaxonAttribute"/>
		<mapping class="edu.ku.brc.specify.datamodel.TaxonCitation"/>

		<mapping class="edu.ku.brc.specify.datamodel.TaxonTreeDef"/>
		<mapping class="edu.ku.brc.specify.datamodel.TaxonTreeDefItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.TreatmentEvent"/>
		<mapping class="edu.ku.brc.specify.datamodel.TreatmentEventAttachment"/>
		<mapping class="edu.ku.brc.specify.datamodel.VoucherRelationship"/>
		<mapping class="edu.ku.brc.specify.datamodel.Workbench"/>
		<mapping class="edu.ku.brc.specify.datamodel.WorkbenchDataItem"/>
		<mapping class="edu.ku.brc.specify.datamodel.WorkbenchRow"/>
		<mapping class="edu.ku.brc.specify.datamodel.WorkbenchRowExportedRelationship"/>
		<mapping class="edu.ku.brc.specify.datamodel.WorkbenchRowImage"/>
		<mapping class="edu.ku.brc.specify.datamodel.WorkbenchTemplate"/>
		<mapping class="edu.ku.brc.specify.datamodel.WorkbenchTemplateMappingItem"/>

		<!--
		<event type="post-commit-update">
			<listener class="edu.ku.brc.specify.dbsupport.DBFlushEventListener"/>
		</event>
		-->

	    <!--
	    <listener type="save"        class="edu.ku.brc.specify.dbsupport.DBSaveEventListener"  />
	    <listener type="save-update" class="edu.ku.brc.specify.dbsupport.DBSaveEventListener"  />
	    <listener type="flush"       class="edu.ku.brc.specify.dbsupport.DBFlushEventListener" />
	    -->

	    <!--
		<listener type="post-update" class="edu.ku.brc.specify.dbsupport.PostUpdateEventListener" />
		<listener type="post-insert" class="edu.ku.brc.specify.dbsupport.PostInsertEventListener" />
		<listener type="post-delete" class="edu.ku.brc.specify.dbsupport.PostDeleteEventListener" />
		-->

		<!--
		<listener type="post-commit-update" class="edu.ku.brc.specify.dbsupport.PostUpdateEventListener"  />
		<listener type="post-commit-insert" class="edu.ku.brc.specify.dbsupport.PostInsertEventListener"  />
		<listener type="post-commit-delete" class="edu.ku.brc.specify.dbsupport.PostDeleteEventListener" />
		-->
	</session-factory>

</hibernate-configuration>
