/* screen__upload_config */

#file_preview_table {
    border-collapse: collapse;
}

#file_preview_table tr, #file_preview_table th, #file_preview_table td {
    border: 1px solid #000;
}


/* screen__mapping */
#screen__mapping {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto 3.5rem auto;
}


#column__controls {
    display: grid;
	align-content: center;
}

#column__controls button {
    border: 0;
    padding: 1rem;
    margin: 0.5rem 0;
}

#column__controls img {
    height: 1.5rem;
}


.custom_list {
    border: 1px solid var(--border);
}

#table_header {
	justify-content: space-between;
	display: flex;
	padding: 1rem;
    background: var(--b2);
}

#table_header button {
	border: 0;
}

.list {
    display: grid;
    overflow-y: auto;
    max-height: 100vh;
}

.custom_list label {
    display: contents;
}

.custom_list input {
    opacity: 0;
    position: absolute;
}

.custom_list .line {
    cursor: pointer;
    outline: none !important;
	padding: 1rem;
    display: list-item;
}

.custom_list .line:hover {
    background: var(--b2);
}

.custom_list .list .mapping {
    float: left;
    text-align: left;
}

.custom_list .list .header  {
    text-align: right;
}

.custom_list .undefined:after {
    content: 'To Be Discarded';
}

#button__new_field {
	display: block;
	text-align: center;
}

:checked ~ .line {
    background: var(--b3) !important;
    cursor: initial !important;
}