/* general */
#screen__mapping {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3.5rem 1fr;
}


.custom_list {
    border: 1px solid var(--border);
	overflow-y: auto;
	height: calc(100vh - 16px);
}

.list {
    display: grid;
}

.custom_list label {
    position: relative;
}

.custom_list input {
    opacity: 0;
    position: absolute;
}

.custom_list .line {
    cursor: pointer;
    outline: none !important;
	padding: 1rem;
    display: list-item;
}

.custom_list .line:hover {
    background: var(--b2);
}

.custom_list .list .mapping, .custom_list .list .table_name {
    float: left;
    text-align: left;
}

.custom_list .list .header, .custom_list .list .relationship  {
    text-align: right;
}

.custom_list .undefined:after {
    content: 'To Be Discarded';
}

#button__new_field {
	display: block;
	text-align: center;
}

:checked ~ .line {
    background: var(--b3) !important;
    cursor: initial !important;
}


/* column data model */
#table_header {
    display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background: var(--b2);
	height: 4rem;
	position: sticky;
	width: inherit;
	top: 0;
}

#title__table_name {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

#title__table_name.undefined:after {
    content: 'Select a table:';
}

#button__change_table {
	border: 0;
    padding: 0.5rem;
    cursor: pointer;
}


/* column controls */

#column__controls {
    display: grid;
	align-content: center;
}

#column__controls button {
    border: 0;
    padding: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
}

#column__controls img {
    height: 1.5rem;
}


/* column headers */