<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <title>Logged Out | Specify WebApp</title>
</head>

<body style="background-image: url(/images/SpecifyBigSplash.png); background-repeat: no-repeat; background-position: center 100px;">
  <div id="user-tools">
    <a href="/accounts/login/">Log in</a>
  </div>
  <main>
    <h2>You have been logged out.</h2>
    <p>Thank you for using Specify.</p>
  </maiin>
</body>
</html>
