{% load raven %}
{% load script_manifest %}
{% load i18n %}
{% trans 'Log In' as title %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
{% if use_raven %}
  <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% endif %}
  <script src="{% script_src 'login.js' %}"></script>
  <title>{% blocktrans with title=title %}{{ title }} | Specify 7{% endblocktrans %}</title>
</head>

<body>
  <header></header>
  <div id="content">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">
      {{ error }}
    </p>
    {% endfor %}
    {% endif %}
    {% if request.session.external_user_provider %}
    <p>
      Hello, {{ request.session.external_user_name }}. There is currently
      no Specify user associated with your Github account. If you have a Specify
      user name and password, you can enter them below to associate that user
      with your Github account for future logins.
    </p>
    {% endif %}
    <form action="{{ app_path }}" method="post" id="login-form">
      {% csrf_token %}
      <div class="form-row">
        <label for="id_username" class="required">{% trans 'Username' %}</label>
        {{ form.username.errors }}
        {{ form.username }}
      </div>
      <div class="form-row">
        <label for="id_password" class="required">{% trans 'Password' %}</label>
        {{ form.password.errors }}
        {{ form.password }}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        {% with nextUrl="/accounts/choose_collection/?next=" %}
        <input
          type="hidden"
          name="next"
          value="{{ nextUrl }}{{ next|cut:nextUrl|urlencode }}"
        />
        {% endwith %}
      </div>
      <div class="submit-row">
        <input type="submit" value="{% trans 'Login' %}" />
      </div>
    </form>
  </div>
</body>
</html>

