{% load raven %}
{% load script_manifest %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
{% if use_raven %}
  <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% endif %}
  <script src="{% script_src 'login.js' %}"></script>
  <title>Log In | Specify 7</title>
</head>

<body>
  <header id="site-header"></header>
  <main>
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">
      {{ error }}
    </p>
    {% endfor %}
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">
      {% csrf_token %}
      <div class="form-row">
        <label for="id_username" class="required">Username</label>
        {{ form.username.errors }}
        {{ form.username }}
      </div>
      <div class="form-row">
        <label for="id_password" class="required">Password</label>
        {{ form.password.errors }}
        {{ form.password }}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="/accounts/choose_collection/?next={{ next|urlencode }}" />
      </div>
      <div class="submit-row">
        <input type="submit" value="Login" />
      </div>
    </form>
  </main>
</body>
</html>

