{% load raven %} {% load script_manifest %} {% load i18n %}
{% trans 'Change Password' as title %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    {% if use_raven %}
    <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
    <script>
      Raven.config("{% sentry_public_dsn %}").install();
    </script>
    {% endif %}
    <script src="{% script_src 'passwordchange.js' %}"></script>
    <title>
      {% blocktrans with title=title %}{{ title }} | Specify 7 {% endblocktrans %}
    </title>
  </head>

  <body>
    <header id="site-header"></header>
    <main>
      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
      <p class="errornote" role="alert">{{ error }}</p>
      {% endfor %} {% endif %}

      <form action="{{ app_path }}" method="post" id="password-change-form">
        {% csrf_token %}
        <div class="form-row">
          <label for="id_old_password" class="required"
            >{% trans 'Old password' %}</label
          >
          {{ form.old_password.errors }} {{ form.old_password }}
        </div>
        <div class="form-row">
          <label for="id_new_password1" class="required"
            >{% trans 'New password' %}</label
          >
          {{ form.new_password1.errors }} {{ form.new_password1 }}
        </div>
        <div class="form-row">
          <label for="id_new_password2" class="required"
            >{% trans 'Retype new password' %}</label
          >
          {{ form.new_password2.errors }} {{ form.new_password2 }}
        </div>
        <div class="submit-row">
          <input type="submit" value="{% trans 'Change' %}" />
        </div>
      </form>
    </main>
  </body>
</html>
