{% load raven %} {% load script_manifest %} {% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    {% if use_raven %}
    <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
    <script>
      Raven.config("{% sentry_public_dsn %}").install();
    </script>
    {% endif %}
    <script src="{% script_src 'main.js' %}"></script>
  </head>

  <body>
    <section id="loading">
      <div class="loading-wrapper">
        <header>
          <img src="/static/img/seven_logo.png" alt="Specify 7" />
          <h1 class="sr-only">Specify 7</h1>
        </header>
        <h2>{% trans 'Loading...' %}</h2>
      </div>
    </section>
    <div id="root-app-container" style="display: none"></div>
  </body>
</html>
