{% load raven %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
{% if use_raven %}
  <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
  <script>Raven.config('{% sentry_public_dsn %}').install()</script>
{% endif %}
  <script src="/static/js/main.bundle.js"></script>
</head>

<body>
  <header id="site-header">
    <div id="site-header-main">
      <a id="site-logo" href="/specify/" class="intercept-navigation"></a>

      <div id="user-tools">
        <div>
          <a class="username"></a> <a class="login-logout"></a> | <select></select>
        </div>
        <div>
          <div id="site-notifications"></div>
          <form id="express-search" action="/specify/express_search/">
            <input type="search" class="express-search-query" name="q" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
    <nav id="site-nav"><ul><li id="header-loading">Specify is loading...</li></ul></nav>
  </header>
  <div id="content">
  </div>
</body>
</html>
