{% load raven %}
{% load script_manifest %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if use_raven %}
    <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
    <script>
      Raven.config("{% sentry_public_dsn %}").install();
    </script>
    {% endif %}
    <script src="{% script_src 'main.js' %}"></script>
  </head>

  <body>
    <button id="skip-link" class="sr-only">Skip to Content</button>

    <div id="root-app-container">
      <header id="site-header">
        <div id="site-header-main">
          <h1 id="site-logo">
            <a href="/specify/" class="intercept-navigation"></a>
          </h1>
          <div id="user-tools">
            <div>
              <button
                class="username magic-button"
                title="{% trans 'Current User' %}"
                aria-label="{% trans 'Current User' %}"
              ></button>
              <a class="login"></a>
              <select
                class="collection-selector"
                title="{% trans 'Current Collection' %}"
                aria-label="{% trans 'Current Collection' %}"
              ></select>
            </div>
            <div>
              <button
                id="site-notifications"
                class="magic-button"
                disabled
              ></button>
              <form
                id="express-search"
                action="/specify/express_search/"
                role="search"
              >
                <input
                  type="search"
                  class="express-search-query"
                  name="q"
                  placeholder="{% trans 'Search' %}"
                />
              </form>
            </div>
          </div>
        </div>
        <nav id="site-nav" aria-label="primary">
          <ul>
            <li id="header-loading">Specify is loading...</li>
          </ul>
        </nav>
      </header>
      <main></main>
    </div>
  </body>
</html>
