<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Specify 7 APIs</title>
    <script
      src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"
      charset="UTF-8"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css"
    />
  </head>

  <body>
    <span style="font-size: 1.5rem">
      <a href="/specify/" style="text-decoration: none">
        <span style="color: initial">←</span>
        Back to Specify </a
      ><br />
      ℹ️
      <a
        href="https://www.leverege.com/blogpost/what-is-an-api"
        rel="noreferrer nofollow"
      >
        A brief</a
      >
      and
      <a
        href="https://blog.usejournal.com/part-1-gentle-introduction-to-apis-for-non-technical-people-what-is-it-fde4d97a3083"
        rel="noreferrer nofollow"
        >a not-so-brief</a
      >
      introduction to APIs for non-programmers.
    </span>

    <div id="swagger-ui"></div>

    <script>
      SwaggerUIBundle({
        url: "{{ open_api_schema_endpoint }}",
        dom_id: "#swagger-ui",
      });
    </script>
  </body>
</html>
