<table class="partialdateui-strct">
  <td>
    <select class="partialdateui-precision">
      <option value="1">Full Date</option>
      <option value="2">Mon / Year</option>
      <option value="3">Year</option>
    </select>
  </td>
  <td class="partialdateui-full"><input type="text" class="partialdateui-full"></td>
  <td class="partialdateui-month-year"><input type="text" class="partialdateui-month" size="2"> / <input type="text" class="partialdateui-year" size="4"></td>
  <td class="partialdateui-year"><input type="text" class="partialdateui-year" size="4"></td>
</table>
