<h2 class="querybuilder-header"><img /><span></span></h2>
<div class="querybuilder">
  <ul class="spqueryfields" />
  <button class="field-add" title="New Field.">New</button>
  <hr>
  <input type="button" value="Query" class="query-execute" disabled>
  <input type="button" value="Abandon Changes" class="abandon-changes" disabled>
  <input type="button" value="Save" class="query-save" disabled>
</div>
<h3 style="display:none">Results: <span class="query-results-count"></span></h3>
<table class="query-results" width="100%"></table>
<div style="text-align: center" class="fetching-more"><img src="/static/img/specify128spinner.gif"></div>
