<button class="field-expand" title="Field is valid and will be saved. Click to expand." data-icon="check">Expand.</button>
<button class="field-delete" title="Remove." data-icon="trash">Remove</button>
<span class="field-label"></span>
<span class="field-select-grp operation-state-hide datepart-state-hide complete-state-hide"><img /><select class="field-select"></select></span>
<select class="datepart-select field-state-hide operation-state-hide datepart-state-show complete-state-hide"></select>
<input type="checkbox" class="op-negate" id="<%= cid %>-negate" />
<label title="Negate." for="<%= cid %>-negate" class="op-negate field-state-hide operation-state-show datepart-state-hide ui-icon ui-icon-cancel"></label>
<select class="op-select op-type field-state-hide operation-state-show datepart-state-hide complete-state-hide"></select>
<span class="field-input"></span>
<span class="field-controls">
  <input type="checkbox" class="field-show" id="<%= cid %>-show" />
  <label title="Show in results." for="<%= cid %>-show" class="ui-icon ui-icon-lightbulb"></label>
  <button class="field-sort" title="Sort." data-icon="bullet">Sort</button>
  <button class="field-move-up" title="Move up." data-icon="arrowthick-1-n">Move up</button>
  <button class="field-move-down" title="Move down." data-icon="arrowthick-1-s">Move down</button>
</span>
