<div id="taxon-treemap">
  <img src="/static/img/specify7_vertical.png" />
</div>

<!-- <h2>Recent Activity</h2> -->
<!-- <dl> -->
<!-- </dl> -->


<h2>Check out Specify for the Web – Test Drive this Specify 7 Pre-Release Web App</h2>
<p>
The Specify Software Project is pleased to announce the imminent
availability of the Specify 7 Web App. We invite you to explore this
beta release with editable fish collection data from the Univ. of
Kansas. <b>We enthusiastically encourage
feedback: <a href="mailto:specify@ku.edu">specify@ku.edu.</a></b>
</p>
<p>
<b>Welcome</b> (this page) shows a 2D data visualization of the taxonomy
comprising the database; each box represents a taxon to which
collection objects have been determined. Box size is proportional to
the number of specimens or lots per taxon. Hovering the cursor over a
box shows the taxon name and the number of collection objects. In the
future this interface will launch collection object queries. Colors
and shapes are arbitrary – or are they?
</p>
<p>
<b>Data</b> is the entry path to data forms. Clicking on it opens a list of
existing record sets (RS). Collection Object records within them can
be created, edited, and saved. A new RS can be made, or you can skip
the RS and go right to a new data entry form.
</p>
<p>
<b>Query</b> opens a list of predefined queries, then the query interface,
which shows the tables, paths, and fields used. Click on components to
change fields, search specifications, result set sorting, and column
order. Hit the Query button to see the results; click on a row in the
results to bring up that data record. The ‘Fiji’ query returns only
collection objects (CO) with image attachments collected from Fiji. In
one of these records, click on the Attachment icon to open the
associated image, click the image to enlarge.  Check out GEOLocate and
Google Earth on a Locality data form.
</p>
<p>
<b>Attachments</b> shows the images and other types of files attached to the
Specify data records. The lower left icon indicates the table to which
the attachments are linked. Clicking on the icon brings up the
associated data record, clicking on the image opens it full-size.
</p>
<p>
<b>Search</b> in the upper right corner of the Specify window executes
semi-structured full-text searches. Here are some search terms to get you
started: <code>Amia*</code>, <code>Perca*</code>, <code>Robins</code>,
<code>Smith</code>, <code>Canada*</code>, <code>&quotKansas
River&quot</code>, <code>Fiji*</code>. Click through the results to
see underlying data records.
</p>
