/* appresources.css */

#appresource-page {
    display: flex;
    width: 100%;
    justify-content: left;
}

#appresources-view {
    padding: 0px 20px 10px;
    background: #f1f2f2;
    box-shadow: 0 0 4px rgba(0,0,0,.33), 0 2px 4px rgba(0,0,0,.5);
    border: 1px solid #ddd;
    display: table;
}

#appresources-view div {
    margin-left: 1em;
}

#appresources-view ul {
    margin-left: 1em;
    padding: 0;
}

#appresources-view .toggle-content {
    cursor: pointer;
}

#appresources-view .new-resource {
    cursor: pointer;
}

#appresources-view .appresource-name.selected a {
    font-weight: bold;
    color: #f4763d;
}

.appresource-data {
    flex-grow: 1;
    margin-left: 20px;
    padding: 0px 20px 10px;
    background: #f1f2f2;
    box-shadow: 0 0 4px rgba(0,0,0,.33), 0 2px 4px rgba(0,0,0,.5);
    border: 1px solid #ddd;
    display: table;
}

.appresource-data textarea {
    width: 100%;
    height: 50em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.appresource-data .mimetype-input {
    margin-left: 10px;
}

.appresource-data .metadata-input input{
    width: 400px;
}
