/* appresources.css */

#appresource-page {
    display: flex;
    width: 100%;
}

#appresources-view div {
    margin-left: 2em;
}

#appresources-view .toggle-content {
    cursor: pointer;
}

#appresources-view .new-resource {
    cursor: pointer;
}

#appresources-view .appresource-name.selected a {
    font-weight: bold;
    color: #f4763d;
}

.appresource-data {
    flex-grow: 1;
    margin: 20px;
}

.appresource-data textarea {
    width: 100%;
    height: 50em;
}