/* appresources.css */

#appresource-page {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
}

#appresources-view {
    padding: 0px 20px 10px;
    background: #f1f2f2;
    box-shadow: 0 0 4px rgba(0,0,0,.33), 0 2px 4px rgba(0,0,0,.5);
    border: 1px solid #ddd;
}

#appresources-view ul {
    margin-left: 1em;
    padding: 0;
}

#appresources-view .new-resource {
    font-size: 11px;
    color: var(--t3);
}

#appresources-view menu :not(li) > .fake-link {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    display: inline;
}

#appresources-view a[aria-current="page"] {
    font-weight: 800;
    color: var(--accent);
}

.appresource-data {
    flex-grow: 1;
    margin-left: 20px;
    padding: 0px 20px 10px;
    background: #f1f2f2;
    box-shadow: 0 0 4px rgba(0,0,0,.33), 0 2px 4px rgba(0,0,0,.5);
    border: 1px solid #ddd;
}

.appresource-data .specify-form-header,
.appresource-data .specify-form-buttons {
    padding: var(--half-size) 0;
}

.appresource-data .resource-editor {
    width: 100%;
    border: 1px solid #aaa;
    height: 50em;
}

.appresource-toolbar {
    display: flex;
    align-items: center;
    column-gap: var(--half-size);
}

.appresource-toolbar label {
    display: flex;
    align-items: center;
    column-gap: var(--quarter-size);
    flex-wrap: wrap;
}

.appresource-data .metadata-input,
.appresource-toolbar input {
    flex: 1;
}
