/* attachments.css */

.specify-attachments-view .attachments-header {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}

.specify-attachments-view .attachments-title {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
}

.specify-attachment-container {
    width: 266px;
    height: 266px;
    position: relative;
    margin: 5px;
}

.specify-attachment-display {
    width: 266px;
    height: 266px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #aaa;
    background-color: #000;
}

a.specify-attachment-original {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #eee;
}

.specify-attachment-browser {
    text-align: center;
    border: 2px solid #000;
    overflow-y: scroll;
}

.specify-attachment-cells {
    /* Background pattern from subtlepatterns.com */
    background-image: url('/static/img/grey_wash_wall.png');
}

.specify-attachment-cell {
    display: inline-block;
    vertical-align: top;
    width: 145px;
    height: 145px;
    margin: 3px;
}

.specify-attachment-cell > div {
    display: inline;
    position: relative;
}

.specify-attachment-dataobj-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
}

.specify-attachment-thumbnail {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: auto;
    border: solid 3px;
    border-radius: 3px;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.8);
    max-width: 125px;
    max-height: 125px;
    background: #eee;
}

