
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
    background: #fff;
}

#content {
    margin: 15px;
}

/* LINKS */

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

a:hover {
    color: #036;
    cursor: pointer;
    cursor: hand;
}

a img {
    border: none;
}

/* GLOBAL DEFAULTS */

p, ol, ul, dl {
    margin: .2em 0 .8em 0;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    padding: 0 6px 0 0;
    margin: 0 0 .2em 0;
}

h2 {
    font-size: 16px;
    margin: 1em 0 .5em 0;
}

h3 {
    font-size: 14px;
    margin: .8em 0 .3em 0;
    font-weight: bold;
    color: #555;
}

h4 {
    font-size: 12px;
    margin: 1em 0 .8em 0;
    padding-bottom: 3px;
    color: #555;
}

h5 {
    font-size: 10px;
    margin: 1.5em 0 .5em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
}

ul li {
    list-style-type: none;
    padding: 1px 0;
}

li ul {
    margin-bottom: 0;
}

li, dt, dd {
    font-size: 11px;
    line-height: 14px;
}

dt {
    font-weight: bold;
    margin-top: 4px;
}

dd {
    margin-left: 0;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    vertical-align: middle;
    font-size: 11px;
    line-height: 13px;
    padding: 5px;
    font-family: Verdana, Arial, sans-serif;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

thead th,
tfoot td {
    padding: 2px 5px;
    font-size: 11px;
}

thead th {
    line-height: normal;
}

/* FORM DEFAULTS */

input, textarea, select, .form-row p {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
}

input[type=text], input[type=password], textarea {
    border: 1px inset;
}


