:root {
  --b1: #fff;
  --b2: #ddd;
  --b3: #bbb;
  --b4: #999;
  --t1: #000;
  --t2: #222;
  --t3: #444;
  --t4: #666;
  --border: #555;

  --success: #2c0;
  --error: #f24;
  --accent: #f73;
  --modified: #ffa;

  --accent-hover: #fdb;

  --animation-duration: 2s;

  --quarter-size: 0.25rem;
  --half-size: 0.5rem;
  --size: 1rem;
  --double-size: 2rem;

  --border-size: 1px;
  --border-radius: 3px;

  --table-icon-size: calc(var(--size) * 1.25);


  /* Workbench */
  --default-cell: #66f;
  --highlighted-row: #07f6;
  --new-cell: #aaf;
  --invalid-cell: #faa;
  --modified-cell: var(--modified);
  --search-result: #afa;


  /* Custom Select Element */
  --custom-select-normal-b1: var(--b1);
  --custom-select-normal-b2: var(--accent-hover);
  --custom-select-normal-accent: var(--accent-hover);

  --custom-select-required-b1: #dff;
  --custom-select-required-b2: #cff;
  --custom-select-required-accent: #3ef;

  --custom-select-hidden-b1: #ccc;
  --custom-select-hidden-b2: #aaa;
  --custom-select-hidden-accent: #666;

  --custom-select-suggested-b1: #dfd;
  --custom-select-suggested-b2: #bfc;
  --custom-select-suggested-accent: #9f9;

}



@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0;
  }
}