:root {
  --b1: #fff;
  --b2: #ddd;
  --b3: #bbb;
  --b4: #999;
  --t1: #000;
  --t2: #222;
  --t3: #444;
  --t4: #666;
  --border: #555;

  --success: #2c0;
  --error: #f24;

  --accent-hover: #fdb;
  --accent: #f73;
  --accent-pale: #f94;

  --animation-duration: 0.5s;

  --quarter-size: 0.25rem;
  --half-size: 0.5rem;
  --size: 1rem;

  --border-size: 1px;
  --border-radius: 3px;

  --table-icon-size: calc(var(--size) * 1.25);

}

@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0;
  }
}
