.custom-select {
  --lines-to-display: 8;
  --custom-select-b1: var(--custom-select-normal-b1);
  --custom-select-b2: var(--custom-select-normal-b2);
  --custom-select-accent: var(--custom-select-normal-accent);

  color: var(--t1);
  display: grid;
  grid-template-areas:
    'header'
    'options';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: calc(var(--double-size) + var(--border-size) * 2);
  position: relative;
}

.custom-select-suggestion-list:not(.controlled) {
  position: absolute;
  bottom: calc(var(--double-size) + var(--border-size));
}

.custom-select-suggestion-list.controlled {
  position: fixed;
  height: auto;
  z-index: 10;
}

.custom-select-closed-list > .custom-select-options,
.custom-select-closed-list .custom-select-suggestion-list {
  box-shadow: 0 0 var(--half-size) var(--quarter-size) var(--border);
}

.custom-select-mapping-options-list {
  padding-left: var(--half-size);
}

.custom-select-mapping-option-line-list {
  height: unset;
}

.custom-select-header,
.custom-select-input {
  grid-area: header;
  border: var(--border-size) solid var(--accent);
}

.custom-select-header {
  padding: var(--half-size);
  display: flex;
  row-gap: var(--half-size);
  column-gap: var(--quarter-size);
  align-items: center;
  background-color: var(--accent-hover);
}

.custom-select-input {
  cursor: pointer;
  border-color: var(--t1);
  background-color: var(--b1);
}

.custom-select-suggestion-line-list .custom-select-input {
  grid-template-columns: var(--table-icon-size) 1fr;
}

.custom-select-active > .custom-select-input {
  z-index: 3;
}

.custom-select-mapping-options-list .table-icon,
.custom-select-group-suggested-mappings > .custom-select-option > .table-icon {
  display: none;
}

.custom-select-mapping-options-list .custom-select-input-label {
  font-size: calc(var(--size) + var(--half-size));
  margin-bottom: var(--quarter-size);
}

.custom-select-input-label,
.custom-select-option-label {
  flex: 1;
}

.custom-select-label-unmapped {
  color: var(--error);
  font-weight: 800;
}

.custom-select-label-modified {
  background: var(--modified);
}

.custom-select-element-shadow-list {
  margin-top: calc(var(--size) * -1);
  padding-right: calc(
    var(--double-size) + var(--table-icon-size) + var(--border-size) * 2
  );
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.custom-select-element-shadow-list span {
  line-height: 0;
  padding: 0;
  overflow-y: scroll;
}

.custom-select-input,
.custom-select-option {
  padding: 0 var(--half-size);
  min-height: var(--double-size);
  display: grid;
  grid-template-columns: var(--table-icon-size) 1fr var(--half-size);
  grid-column-gap: var(--quarter-size);
  align-items: center;
  border: none;
}

.custom-select-mapping-options-list .custom-select-input,
.custom-select-mapping-options-list .custom-select-option {
  display: flex;
}

.custom-select-mapping-options-list
  > .custom-select-options
  > .custom-select-group
  > .custom-select-option,
.custom-select-suggestion-list
  > .custom-select-options
  > .custom-select-group
  > .custom-select-option {
  padding: var(--half-size);
  min-height: unset;
}

.custom-select-mapping-options-list
  > .custom-select-options
  > .custom-select-group
  > .custom-select-option
  > .custom-select-option-label {
  display: initial;
}

.custom-select-input:hover::after {
  color: var(--t3);
}

.custom-select-options,
.custom-select-suggestion-list:not(.controlled) {
  height: -moz-fit-content;
  height: fit-content;
}

.custom-select-options {
  overflow-y: scroll;
  max-height: calc(var(--double-size) * var(--lines-to-display));
  border: var(--border-size) solid var(--accent);
  background-color: var(--custom-select-b1);
  z-index: 2;
  min-width: max-content;
  cursor: pointer;
}

.custom-select-opened-list .custom-select-options,
.custom-select-suggestion-list .custom-select-options,
.custom-select-mapping-options-list .custom-select-options {
  overflow-y: auto;
}

.custom-select-options:not(:first-child) {
  border-top: 0;
}

.custom-select-options::-webkit-scrollbar {
  background: var(--b1);
}

.custom-select-options::-webkit-scrollbar-thumb {
  background: var(--b3);
}

.custom-select-group {
  background-color: var(--custom-select-b1);
  display: flex;
  flex-direction: column;
}

.custom-select-group-required-fields {
  --custom-select-b1: var(--custom-select-required-b1);
  --custom-select-b2: var(--custom-select-required-b2);
  --custom-select-accent: var(--custom-select-required-accent);
}

.custom-select-input-required {
  background: var(--custom-select-required-b2);
}

.custom-select-group-hidden-fields {
  --custom-select-b1: var(--custom-select-hidden-b1);
  --custom-select-b2: var(--custom-select-hidden-b2);
  --custom-select-accent: var(--custom-select-hidden-accent);
}

.custom-select-input-hidden {
  background: var(--custom-select-hidden-b2);
}

.custom-select-group-suggested-mappings {
  --custom-select-b1: var(--custom-select-suggested-b1);
  --custom-select-b2: var(--custom-select-suggested-b2);
  --custom-select-accent: var(--custom-select-suggested-accent);
}

.custom-select-group-label {
  background-color: var(--custom-select-b2);
  padding: var(--quarter-size);
  color: var(--t3);
  cursor: initial;
}

.custom-select-option:hover,
.custom-select-option:focus {
  background-color: var(--custom-select-b2);
}

.custom-select-suggestion-list .custom-select-option {
  display: inline;
  padding-left: var(--half-size);
}

.custom-select-mapping-option-line-list .custom-select-options {
  overflow: visible;
}

.custom-select-option-disabled,
.custom-select-option-selected {
  cursor: initial;
}

.custom-select-option-disabled {
  color: var(--t3);
  background-color: var(--custom-select-b1) !important;
}

.custom-select-option-selected {
  background-color: var(--custom-select-accent) !important;
}

@media print {
  .custom-select-element-shadow-list,
  .custom-select-input span:nth-child(3),
  .custom-select-option-relationship-icon {
    display: none;
  }

  .custom-select-input,
  .custom-select-option {
    grid-template-columns: var(--table-icon-size) auto auto;
  }
}
