/* header.css */

#site-header {
  background: #f1f2f2;
  border-bottom: solid 0.3rem #f4763d;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px -1px #999;
}

#site-header-main {
  display: contents;
}

#site-logo {
  order: 1;
  flex-basis: 300px;
}

#site-logo a {
  display: block;
  height: 55px;
  margin: 1rem;
  background-image: url('/static/img/seven_logo.png');
  background-size: 185px 55px;
  background-repeat: no-repeat;
  order: 1;
  flex-basis: 275px;
}

#user-tools {
  order: 3;
  flex-basis: 275px;
  margin: 1rem;
}

#site-nav {
  padding: 0;
  order: 2;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

#site-nav a {
  font-size: 14px;
  font-weight: 800;
  padding: 0 1rem 1rem;
  position: relative;
  height: calc(100% - 1rem);
  display: flex;
  align-items: flex-end;
}

#site-nav a::after {
  content: '';
  position: absolute;
  bottom: -0.3rem;
  width: 100%;
  left: 0;
  right: 0;
  height: 8px;
  background: transparent;
}

@media (max-width: 1600px) {
  #site-header {
    flex-direction: column;
  }

  #site-logo,
  #site-nav,
  #user-tools {
    order: unset;
  }

  #user-tools {
    flex-basis: unset;
    min-width: 275px;
  }

  #site-nav {
    margin-top: -0.5rem;
    justify-content: unset;
  }

  #site-nav a {
    padding: 1rem;
    height: unset;
  }

  #site0nav a::after {
    bottom: -0.3rem;
  }

  #site-header-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  #site-nav a::after {
    content: initial;
  }
}

#site-nav a:hover::after,
#site-nav a[aria-current]::after {
  background: #f1f2f2;
}

#site-nav a:active {
  background: var(--b1);
}

#site-nav a:link,
#site-nav a:visited {
  color: #555;
}

#site-nav a:hover,
#site-nav a[aria-current] {
  color: var(--t1);
}

#site-nav img {
  display: inline;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

#user-tools div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.7rem;
}

#user-tools .username {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#user-tools .collection-selector {
  background: #fff;
  border: none;
  color: #555;
  padding: 4px 0;
  font-size: 12px;
  vertical-align: baseline;
  flex: 1;
}

#user-tools .collection-selector:hover,
#user-tools.username:hover {
  color: #f4763d;
}

#express-search {
  flex: 1;
}

#express-search .express-search-query {
  border: 1px solid #aaa;
  font-size: 14px;
  width: 100%;
}

.ui-autocomplete {
  z-index: 110;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
