/* header.css */

header {
    background: #f1f2f2;
    border-bottom: solid 6px #f4763d;
    display: flex;
    align-items: center;
    padding: 10px 10px 0;
    column-gap: 15px;
}

#site-header-main {
    display: contents;
}

#site-logo {
    background-image: url('/static/img/seven_logo.png');
    background-size: 185px 55px;
    background-repeat: no-repeat;
    height: 55px;
    order: 1;
    flex-basis: 300px;
}

#user-tools {
    order: 3;
    flex-basis: 300px;
}

nav {
    padding: 0;
    order: 2;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

#header-loading {
    margin-left: 48px;
    flex-grow: 1;
    text-align: left;
    color: #555;
    font-size: 14px;
    font-weight: 800;
}

nav a {
    font-size: 14px;
    font-weight: 800;
    padding: 0.5rem 1rem;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    left: 0;
    right: 0;
    height: 8px;
    background: transparent;
}

@media (max-width: 1600px) {
    header {
        flex-direction: column;
    }

    #site-logo,
    nav,
    #user-tools {
        order: unset;
    }

    nav {
        padding-top: 10px;
        justify-content: unset;
    }

    #site-header-main {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    nav a::after {
        content: initial;
    }
}

nav a:hover::after {
    background: #f1f2f2;
}

nav a:link,
nav a:visited {
    color: #555;
}

nav a:hover {
    color: #000;
}

nav img {
    display: inline;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

#user-tools div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#user-tools a {
    font-weight: 800;
}

#user-tools .login-logout {
    margin-right: 2px;
}

#user-tools select {
    background: #fff;
    border: none;
    color: #555;
    font-weight: 800;
    padding: 4px 0;
    margin-left: 2px;
    font-size: 12px;
    vertical-align: baseline;
}

#user-tools select:hover {
    color: #f4763d;
}

#express-search .express-search-query {
    background: #f1f2f2;
    border: 1px solid #aaa;
    font-size: 14px;
}

.ui-autocomplete {
    z-index: 110;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
