/* header.css */

header {
    background: #f1f2f2;
    border-right: solid 6px #f4763d;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    row-gap: 1.5rem;
}

#site-header-main {
    display: contents;
}

#site-logo {
    background-image: url('/static/img/seven_logo.png');
    background-size: 185px 55px;
    background-repeat: no-repeat;
    height: 55px;
    width: 185px;
    order: 1;
}

#user-tools {
    display: flex;
    row-gap: 0.3rem;
    flex-direction: column;
    order: 3;
}

nav {
    padding: 0;
    order: 2;
    flex: 1;
    width: 100%;
    margin: 0 -1rem;
}

#header-loading {
    margin-left: 48px;
    flex-grow: 1;
    text-align: left;
    color: #555;
    font-size: 14px;
    font-weight: 800;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav li {
    padding: 0;
}

nav a {
    width: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 800;
}

nav a:hover {
    background: #f4763d;
}

nav a:link,
nav a:visited {
    color: #555;
}

nav a:hover {
    color: #000;
}

nav li img {
    display: inline;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

#user-tools div:last-child {
    display: flex;
    justify-content: flex-end;
}

#user-tools a {
    font-weight: 800;
}

#user-tools select {
    background: #fff;
    border: none;
    color: #555;
    font-weight: 800;
    padding: 4px 0;
    font-size: 12px;
    vertical-align: baseline;
}

#user-tools select:hover {
    color: #f4763d;
}

#express-search .express-search-query {
    background: #f1f2f2;
    border: 1px solid #aaa;
    font-size: 14px;
    width: 100%;
}

.ui-autocomplete {
    z-index: 110;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
