/* header.css */

header {
    background: #f1f2f2;
    border-bottom: solid 6px #f4763d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#site-header-main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 950px;
}

#site-logo {
    background-image: url('/static/img/seven_logo.png');
    background-size: 185px 55px;
    width: 185px;
    height: 55px;
}

nav {
    padding: 0;
    width: 100%;
    max-width: calc(950px + 2rem);
}

#header-loading {
    margin-left: 48px;
    flex-grow: 1;
    text-align: left;
    color: #555;
    font-size: 14px;
    font-weight: 800;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li {
    padding: 0;
}

nav a {
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    position: relative;
    padding: 0.5rem 1rem;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: calc(-0.5rem + 2px);
    width: 100%;
    left: 0;
    right: 0;
    height: 6px;
    background: #f4763d;
}

@media (max-width: 1000px) {
    nav a::after {
        content: initial;
    }
}

nav a:hover::after {
    background: #f1f2f2;
}

nav a:link,
nav a:visited {
    color: #555;
}

nav a:hover {
    color: #000;
}

nav li img {
    display: inline;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

#user-tools div:last-child {
    display: flex;
    justify-content: flex-end;
}

#user-tools a {
    font-weight: 800;
}

#user-tools .login-logout {
    margin-right: 2px;
}

#user-tools select {
    background: #fff;
    border: none;
    color: #555;
    font-weight: 800;
    padding: 4px 0;
    margin-left: 2px;
    font-size: 12px;
    vertical-align: baseline;
}

#user-tools select:hover {
    color: #f4763d;
}

#express-search .express-search-query {
    background: #f1f2f2;
    border: 1px solid #aaa;
    font-size: 14px;
}

.ui-autocomplete {
    z-index: 110;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
