.leaflet-details-container {
  color: var(--b1);
  background: var(--darken);
  padding: 10px;
  max-width: 50%;
  width: 20rem;
}

.leaflet-full-screen-toggle {
  width: var(--double-size);
  padding: var(--half-size);
}

.leaflet-full-screen-toggle,
.leaflet-print-map {
  cursor: pointer !important;
  background: var(--darken);
}

.leaflet-map-full-screen .leaflet-print-map {
  font-size: var(--double-size);
  padding: 0.1rem var(--half-size);
}

.leaflet-container:not(.leaflet-map-full-screen) .leaflet-print-map {
  display: none;
}

.leaflet-top.leaflet-left {
  max-height: 100%;
}

@media print {
  .leaflet-control-container {
    display: none;
  }
}
