a.lifemapper-source-icon:hover {
  background: var(--b1);
}

button.lifemapper-source-icon img {
  visibility: hidden;
  position: absolute;
  top: 2px;
  left: 2px;
}

a.lifemapper-source-icon img {
  height: 100%;
  margin: unset;
}

.lifemapper-source-icon:not(.lifemapper-source-icon-not-found):hover
  .lifemapper-source-icon-hover,
.lifemapper-source-icon:not(:hover):not(.lifemapper-source-icon-not-found)
  .lifemapper-source-icon-active,
.lifemapper-source-icon.lifemapper-source-icon-not-found
  .lifemapper-source-icon-inactive {
  visibility: visible;
}

.lifemapper-source-icon-not-found {
  background-image: var(--icon-inactive);
  cursor: initial;
  outline: none;
}

.lifemapper-source-icon-issues-detected {
  background: var(--error);
}

.lifemapper-source-issues-list li {
  list-style: disc;
}

.lifemapper-legend {
  display: flex;
  flex-direction: column;
}

.lifemapper-leaflet-map {
  height: 100%;
}

.lifemapper-current-collection-object-marker {
  filter: hue-rotate(135deg);
}

.lifemapper-legend h2 {
  color: #fff;
}

.lifemapper-map-legend {
  width: calc(100% - var(--size));
  height: var(--double-size);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--half-size);
}
