.lifemapper-source-icon {
  background: none;
  border: none;
  padding: 0.1rem;
  border-radius: 100px;
  cursor: pointer;
}

.lifemapper-source-icon-not-found {
  opacity: 0.5;
  cursor: initial;
  outline: none;
}

.lifemapper-source-icon-issues-detected {
  background: #f55;
}

.lifemapper-source-icon img {
  margin: 0;
}

.lifemapper-source-issues-list li {
  list-style: disc;
}

.lifemapper-leaflet-map {
  height: 100%;
}

.lifemapper-current-collection-object-marker {
  filter: hue-rotate(135deg);
}

.details-container {
  color: #fff;
}

.lifemapper-message-section {
  border-bottom: 10px;
}
