#loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--b2);
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--double-size);
  padding: calc(var(--double-size) * 2);
  background: var(--b1);
  box-shadow: 0 var(--quarter-size) var(--size) var(--quarter-size) #0005;
}

#loading h2 {
  margin: 0;
}

#loading img {
  max-width: 35vw;
}
