/* LOGIN FORM */

body {
  background: #f79244;
}

header {
  background: #f1f2f2;
  height: 450px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  background-image: url(/static/img/seven_logo.png);
  background-repeat: no-repeat;
  background-position: center 255px;
}

#content {
  background: #fff;
  border: solid 1px #aaa;
  width: 300px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 14px;
}

#content h2 {
  border: 1px solid #f4763d;
  background: #f79244;
  color: #fff;
  margin: -5px;
  padding: 6px 14px;
  font-size: 1em;
}

#content .errornote {
  background: #fff;
  color: #f4763d;
  font-size: 14px;
}

#content .errorlist {
  margin: 0;
  padding: 0;
}

#content .errorlist li {
  background: #fff;
  color: #f4763d;
  font-size: 14px;
  margin-left: 14px;
}

label {
  display: block;
  color: #888;
}

#content-main {
  width: 100%;
}

.form-row {
  margin-bottom: 10px;
}

.form-row input {
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
}

.form-row select {
  width: 100%;
  font-size: 15px;
  background: #fff;
}

input[type='submit'] {
  width: 100%;
  background: #fff;
  border: 1px solid #aaa;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.66);
  color: #f4763d;
  margin-top: 14px;
  cursor: pointer;
}

input[type='submit']:hover {
  background: #eee;
}

.password-reset-link {
  text-align: center;
}
