@import url('./custom-theme/jquery-ui-1.10.2.custom.css');
@import url('~jquery-contextmenu/dist/jquery.contextMenu.css');

/* TODO: make save buttons be on the right side in dialogs */
@import url('./query.css');
@import url('./dialogs.css');
@import url('./attachments.css');
@import url('./theme.css');
@import url('./icons.css');
@import url('./colors.css');

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/* TODO: get rid of global styles once everything is using React components */
@layer base {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full p-1 bg-gray-200 rounded accent-brand-200;
  }

  select {
    @apply pr-5 bg-right;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply cursor-pointer text-brand-200;
  }

  label {
    @apply cursor-pointer;
  }

  form:not(.not-submitted) input:invalid,
  input:not(.not-touched):invalid,
  form:not(.not-submitted) select:invalid,
  select:not(.not-touched):invalid,
  form:not(.not-submitted) textarea:invalid,
  textarea:not(.not-touched):invalid {
    @apply bg-red-400;
  }

  textarea {
    @apply w-full;
  }

  :disabled:not(.icon), [readonly] {
    @apply cursor-not-allowed bg-gray-400 text-gray-700;
  }

  .icon:disabled {
    @apply cursor-not-allowed;
  }

  :required {
    @apply bg-blue-200;
  }

  [type='radio']:focus,
  [type='checkbox']:focus {
    @apply ring-2 ring-offset-1 !important;
  }

  /* Hide up/down arrows */
  /* Firefox */
  [type='number'].no-arrows {
    -moz-appearance: textfield;
  }
  /* Webkit */
  [type='number'].no-arrows::-webkit-outer-spin-button,
  [type='number'].no-arrows::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }


  [type='number']:not([readonly]):not(.no-arrows)::-webkit-inner-spin-button,
  [type='number']:not([readonly]):not(.no-arrows)::-webkit-outer-spin-button {
    /* Always show spinner buttons */
    @apply opacity-100;
  }

  [type='number']:not([readonly]):not(.no-arrows)::-webkit-outer-spin-button,
  [type='number']:not([readonly]):not(.no-arrows)::-webkit-inner-spin-button {
    /* Make spinner buttons larger */
    -webkit-appearance: inner-spin-button !important;

    width: var(--half-size);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  [type='number'].webkit:not([readonly]):not(.no-arrows) {
    @apply text-right relative pr-1.5
  }

  .button {
    @apply border rounded cursor-pointer active:brightness-80 bg-gray-300
    border-zinc-400 disabled:bg-gray-200 disabled:border-gray-300
    disabled:text-gray-500 gap-2 hover:bg-brand-200
    inline-flex items-center p-1 text-black;
  }

  .link, .icon {
    @apply text-black gap-2 inline-flex items-center hover:text-brand-300
    active:text-brand-100 cursor-pointer;
  }

  [type='submit'].link,
  [type='button'].link {
    @apply border-none text-left;
  }

  @media print {
    /* Hide arrows, calendar icon and other symbols */
    input, select, textarea {
      @apply bg-none m-0 appearance-none;
    }
  }


  /* Display tooltips as an overlay on touch-screen devices */
  @media (pointer: coarse), (hover: none) {
    [title] {
      @apply relative inline-flex justify-center;
    }

    [title]:focus::after {
      @apply w-fit absolute p-1 text-black bg-white border border-black;
      content: attr(title);
      top: 90%;
    }
  }

}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

@layer components {
  .wbs-form {
    --highlighted-row: theme('colors.blue.400');
    --new-cell: theme('colors.indigo.350');
    --invalid-cell: theme('colors.red.300');
    --modified-cell: theme('colors.yellow.250');
    --search-result: theme('colors.green.300');
  }

  .custom-select {
    --custom-select-b1: theme('colors.white');
    --custom-select-b2: theme('colors.brand.100');
    --custom-select-accent: theme('colors.brand.100');
  }

  .custom-select-group-required-fields {
    --custom-select-b1: theme('colors.cyan.100');
    --custom-select-b2: theme('colors.cyan.200');
    --custom-select-accent: theme('colors.cyan.300');
  }

  .custom-select-group-hidden-fields {
    --custom-select-b1: theme('colors.gray.300');
    --custom-select-b2: theme('colors.gray.400');
    --custom-select-accent: theme('colors.gray.500');
  }

  .custom-select-group-suggested-mappings {
    --custom-select-b1: theme('colors.green.200');
    --custom-select-b2: theme('colors.green.300');
    --custom-select-accent: theme('colors.green.400');
  }
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer utilities {

}

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;
