/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/*
 * TODO: get rid of most global styles once everything is using React components
 * TODO: remove most usages of !important after global styles are removed
 */
@layer base {

  body.reduce-motion * {
    @apply !transition-none !duration-0;
  }

  * {
    @apply transition duration-[var(--transitionDuration)] ease-in-out
      dark:!shadow-none placeholder-gray-400;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply p-1 rounded accent-brand-200 dark:accent-brand-400 dark:border-none
      bg-gray-200 dark:bg-neutral-700 text-[length:inherit] leading-[unset];
  }

  /**
   * Fix for Safari's inconsistencies:
   * https://github.com/specify/specify7/issues/1274#issuecomment-1102807239
   */
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='time'],
  [type='week'] {
    @apply leading-5;
  }

  .has-alt-background [type='text']:not(:required),
  .has-alt-background [type='email']:not(:required),
  .has-alt-background [type='url']:not(:required),
  .has-alt-background [type='password']:not(:required),
  .has-alt-background [type='number']:not(:required),
  .has-alt-background [type='date']:not(:required),
  .has-alt-background [type='datetime-local']:not(:required),
  .has-alt-background [type='month']:not(:required),
  .has-alt-background [type='search']:not(:required),
  .has-alt-background [type='tel']:not(:required),
  .has-alt-background [type='time']:not(:required),
  .has-alt-background [type='week']:not(:required),
  .has-alt-background [multiple]:not(:required),
  .has-alt-background textarea:not(:required),
  .has-alt-background select:not(:required),
  :disabled:not(.icon),
  [readonly] {
    @apply bg-white dark:bg-neutral-900;
  }

  :disabled:not(.icon), [readonly] {
    @apply !cursor-not-allowed text-gray-700 dark:text-neutral-500 border
      border-gray-500 dark:border-solid;
  }

  .has-alt-background :disabled:not(.icon), .has-alt-background [readonly] {
    @apply !bg-gray-200 dark:!bg-neutral-800;
  }

  select {
    @apply pr-5 bg-right cursor-pointer;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply cursor-pointer text-brand-200 dark:text-brand-400;
  }

  label, summary {
    @apply cursor-pointer;
  }

  form:not(.not-submitted) input:invalid,
  input:not(.not-touched):invalid,
  form:not(.not-submitted) select:invalid,
  select:not(.not-touched):invalid,
  form:not(.not-submitted) textarea:invalid,
  textarea:not(.not-touched):invalid {
    @apply !bg-red-400 dark:!bg-red-800 placeholder-red-900
      dark:placeholder-red-400;
  }

  textarea {
    @apply w-full resize;
  }

  :required {
    @apply bg-blue-200 dark:bg-blue-900;
  }

  [type='radio']:focus,
  [type='checkbox']:focus {
    @apply ring-2 ring-offset-1 !important;
  }

  /* Hide up/down arrows */
  /* Firefox */
  [type='number'].no-arrows {
    -moz-appearance: textfield;
  }

  /* Webkit */
  [type='number'].no-arrows::-webkit-outer-spin-button,
  [type='number'].no-arrows::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }


  [type='number']:not([readonly]):not(.no-arrows)::-webkit-inner-spin-button,
  [type='number']:not([readonly]):not(.no-arrows)::-webkit-outer-spin-button {
    /* Always show spinner buttons */
    @apply opacity-100;
  }

  [type='number']:not([readonly]):not(.no-arrows)::-webkit-outer-spin-button,
  [type='number']:not([readonly]):not(.no-arrows)::-webkit-inner-spin-button {
    /* Make spinner buttons larger */
    -webkit-appearance: inner-spin-button !important;
    @apply w-[2] absolute top-0 right-0 h-full;
  }

  [type='number'].webkit:not([readonly]):not(.no-arrows) {
    @apply text-right relative pr-2.5;
  }

  .button {
    @apply border dark:border-none rounded cursor-pointer active:brightness-80
      bg-gray-300 text-black dark:text-gray-100 gap-2 inline-flex items-center
      border-zinc-400 disabled:bg-gray-200 dark:bg-neutral-600 px-2 py-1
      disabled:border-gray-300 disabled:dark:bg-neutral-800
      disabled:text-gray-500 disabled:dark:text-neutral-400 hover:bg-brand-200
      dark:hover:bg-brand-400;
  }

  button[aria-pressed='true']:not(.aria-handled) {
    @apply bg-white dark:bg-neutral-400;
  }

  button[aria-pressed='true']:not(.aria-handled).link {
    @apply !bg-transparent text-brand-200 dark:text-brand-400 cursor-default;
  }

  .link, .icon {
    @apply text-black dark:text-gray-200 cursor-pointer;
  }

  .link:not([disabled]), .icon:not([disabled]) {
    @apply hover:text-brand-300;
  }

  .link {
    @apply gap-2 inline-flex items-center active:underline;
  }

  .icon {
    @apply active:bg-brand-100 dark:active:bg-brand-500
      disabled:!cursor-not-allowed disabled:text-gray-400
      disabled:hover:text-gray-400 disabled:dark:text-neutral-600
      disabled:hover:dark:text-neutral-600;
  }

  [type='submit'].link,
  [type='button'].link {
    @apply border-none text-left;
  }

  @media print {
    /* Hide arrows, calendar icon and other symbols */
    input, select, textarea {
      @apply bg-none m-0 appearance-none;
    }
  }

  progress::-webkit-progress-bar {
    @apply bg-gray-200 dark:bg-neutral-700 rounded;
  }

  progress::-webkit-progress-value {
    @apply bg-brand-200 dark:bg-brand-400 rounded;
  }

  progress::-moz-progress-bar {
    @apply bg-brand-200 dark:bg-brand-400 rounded;
  }


  /* Display tooltips as an overlay on touch-screen devices */
  @media (pointer: coarse), (hover: none) {
    [title] {
      @apply relative inline-flex justify-center;
    }

    [title]:focus::after {
      @apply w-fit absolute p-1 text-black bg-white border border-black
        content-[attr(title)] top-[90%]
    }
  }

  /*
   * Grid-based table implementation for increased flexibility
   * Does not sacrifice accessibility thanks to [role] attributes
   * Allows for things like sticky headers and having entire row be a link
   * You can set column sizes by adding a className like this:
   *   grid-cols-[repeat(4,_1fr)_auto_auto_min-content_minmax(10rem,_1fr)]
   */
  table.grid-table,
  .grid-table[role~="table"] {
    @apply grid;
  }

  .grid-table thead,
  .grid-table tbody,
  .grid-table tr,
  .grid-table [role~="rowgroup"],
  .grid-table [role~="row"] {
    @apply contents;
  }

  .grid-table th,
  .grid-table td,
  .grid-table [role~="columnheader"],
  .grid-table [role~="rowheader"],
  .grid-table [role~="cell"] {
    @apply flex items-center gap-x-1;
  }

  .sr-only {
    top: 0;
  }

}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

@layer components {
  .wbs-form {
    --new-cell: theme('colors.indigo.350');
    --invalid-cell: theme('colors.red.300');
    --modified-cell: theme('colors.yellow.250');
    --search-result: theme('colors.green.300');
    @apply dark:[--new-cell:theme('colors.indigo.900')]
      dark:[--invalid-cell:theme('colors.red.900')]
      dark:[--modified-cell:theme('colors.yellow.900')]
      dark:[--search-result:theme('colors.green.900')];
  }

  .custom-select {
    --custom-select-b1: theme('colors.white');
    --custom-select-b2: theme('colors.brand.100');
    --custom-select-accent: theme('colors.brand.100');
    @apply dark:[--custom-select-b1:theme('colors.neutral.800')]
      dark:[--custom-select-b2:theme('colors.brand.500')]
      dark:[--custom-select-accent:theme('colors.brand.500')];
  }

  .custom-select-group-required-fields, .custom-select-input-required {
    --custom-select-b1: theme('colors.cyan.100');
    --custom-select-b2: theme('colors.cyan.200');
    --custom-select-accent: theme('colors.cyan.300');
    @apply dark:[--custom-select-b1:theme('colors.cyan.900')]
      dark:[--custom-select-b2:theme('colors.cyan.800')]
      dark:[--custom-select-accent:theme('colors.cyan.700')];
  }

  .custom-select-group-hidden-fields, .custom-select-input-hidden {
    --custom-select-b1: theme('colors.gray.200');
    --custom-select-b2: theme('colors.gray.300');
    --custom-select-accent: theme('colors.gray.350');
    @apply dark:[--custom-select-b1:theme('colors.neutral.800')]
      dark:[--custom-select-b2:theme('colors.neutral.700')]
      dark:[--custom-select-accent:theme('colors.neutral.600')];
  }

  .custom-select-group-suggested-mappings {
    --custom-select-b1: theme('colors.green.200');
    --custom-select-b2: theme('colors.green.300');
    --custom-select-accent: theme('colors.green.400');
    @apply dark:[--custom-select-b1:theme('colors.green.700')]
      dark:[--custom-select-b2:theme('colors.green.600')]
      dark:[--custom-select-accent:theme('colors.green.500')];
  }
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer utilities {
  /*
   * Smartly inverts leaflet layer's color scheme. Source:
   * https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd
   */
  .invert-leaflet-layer {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7)
  }
}

/* Leaflet dark mode */
.leaflet-bar a {
  @apply dark:!bg-black dark:!border-b-neutral-600 dark:!text-white
    hover:dark:!bg-brand-400;
}

.leaflet-control-layers,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-attribution {
  @apply dark:!bg-black dark:!text-neutral-300
}

.leaflet-control-layers-separator {
  @apply dark:!border-t-neutral-600;
}