/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/*
 * REFACTOR: get rid of most global styles once everything is using React components
 *   (can use arbitrary variants too)
 * REFACTOR: remove most usages of !important after global styles are removed
 */
@layer base {
  body.reduce-motion * {
    @apply !transition-none !duration-0;
  }

  body.dark {
    color-scheme: dark;
  }

  body:not(.dark) {
    color-scheme: light;
  }

  body.no-rounded-corners *:not(.rounded-full) {
    @apply !rounded-none;
  }

  * {
    @apply placeholder-gray-400 !ring-inset transition
      duration-[var(--transition-duration)] ease-in-out dark:!shadow-none;
    /*
     * Disables transitions for text color.
     * See https://github.com/specify/specify7/issues/1561
     */
    transition-property: background-color, border-color, text-decoration-color,
      fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  .textarea-shadow,
  select {
    @apply rounded border-none bg-[color:var(--field-background)] p-1 text-[length:inherit] leading-[unset]
      accent-brand-200 shadow-sm ring-1 ring-gray-400
      dark:accent-brand-400 dark:ring-0
      [.has-alt-background_&]:optional:bg-white
      dark:[.has-alt-background_&]:optional:bg-neutral-900;
  }

  input,
  textarea,
  .textarea-shadow,
  select {
    @apply focus:ring-2 dark:focus:ring-1;

    /* Hide arrows, calendar icon and other symbols */
    @apply print:m-0 print:appearance-none print:bg-none;
  }

  /* Adapted from Tailwind's styles for <select> */
  input.autocomplete {
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3e%3cpath stroke=%27%236b7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27M6 8l4 4 4-4%27/%3e%3c/svg%3e');
    background-position: right 0 center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 1.5em;
  }

  :disabled:not(.link),
  [readonly] {
    @apply ring-1 ring-gray-500 dark:ring-1;
  }

  select,
  input[role='combox'] {
    @apply disabled:cursor-default;
  }

  :is(:disabled, [readonly]):not(.link, [type='checkbox'], [type='radio']) {
    @apply bg-[color:var(--disabled-field-background)] text-gray-700
      dark:text-neutral-500;
  }

  select[size] {
    @apply bg-none pl-2 pr-1;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply cursor-pointer text-brand-200 focus:!ring-2 focus:!ring-offset-1
      dark:text-brand-400;
  }

  :is([type='checkbox'], [type='radio']):is([readonly], :disabled) {
    @apply cursor-default bg-gray-300 text-gray-500 checked:bg-current hover:ring-gray-500
      dark:bg-neutral-600 dark:text-neutral-900;
  }

  label,
  summary {
    @apply cursor-pointer;
  }

  form:not(.not-submitted) :is(input, select, textarea):invalid,
  :is(input, select, textarea):not(.not-touched):invalid {
    @apply !bg-[color:var(--invalid-field-background)] placeholder-red-900
      dark:placeholder-red-400;
  }

  textarea,
  .textarea-shadow {
    @apply w-full resize;
  }

  :required {
    @apply bg-[color:var(--required-field-background)];
  }

  /* Hide up/down arrows in Gecko */
  [type='number'].no-arrows {
    -moz-appearance: textfield;
  }

  /* Hide up/down arrows in Webkit */
  [type='number'].no-arrows::-webkit-outer-spin-button,
  [type='number'].no-arrows::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  /* Always show spinner buttons */
  [type='number']:not([readonly], .no-arrows)::-webkit-inner-spin-button,
  [type='number']:not([readonly], .no-arrows)::-webkit-outer-spin-button {
    @apply opacity-100;
  }

  /* Make spinner buttons larger */
  [type='number']:not([readonly], .no-arrows)::-webkit-outer-spin-button,
  [type='number']:not([readonly], .no-arrows)::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    @apply absolute top-0 right-0 h-full w-[2];
  }

  [type='number']:not([readonly], .no-arrows) {
    @apply relative;
  }

  .button:is([aria-pressed='true'], [aria-selected='true'], [aria-current]):not(.aria-handled) {
    @apply brightness-[1.2] dark:brightness-[1.5];
  }

  button[aria-pressed='true']:not(.aria-handled).link {
    @apply !bg-transparent text-brand-300 dark:text-brand-400;
  }

  a.button {
    @apply text-center;
  }

  .link {
    @apply inline-flex cursor-pointer items-center gap-2
      text-black active:underline enabled:hover:text-brand-300 disabled:!ring-0 dark:text-gray-200;
  }

  a.link {
    @apply hover:text-brand-400 dark:hover:text-brand-300;
  }

  .link[aria-current]:not(.aria-handled) {
    @apply text-brand-300;
  }

  .icon {
    @apply active:bg-brand-100 disabled:!cursor-not-allowed
      disabled:!text-gray-400 disabled:hover:!text-gray-400
      dark:active:bg-brand-500 disabled:dark:!text-neutral-600
      disabled:hover:dark:!text-neutral-600;
  }

  progress::-webkit-progress-bar {
    @apply rounded bg-gray-200 dark:bg-neutral-700;
  }

  progress::-webkit-progress-value {
    @apply rounded bg-brand-200 dark:bg-brand-400;
  }

  progress::-moz-progress-bar {
    @apply rounded bg-brand-200 dark:bg-brand-400;
  }

  /*
   * Grid-based table implementation for increased flexibility
   * Does not sacrifice accessibility thanks to the [role] attributes
   * Allows for things like sticky headers and having entire row be a link/button
   * You can set column sizes by adding a className like this:
   *   grid-cols-[repeat(4,1fr)_auto_auto_min-content_minmax(10rem,1fr)]
   * There is much more flexibility in how columns should be sized.
   */
  .grid-table:is(table, [role~='table']) {
    @apply grid;
  }

  .grid-table :is(thead, tbody, tr, [role~='rowgroup'], [role~='row']) {
    @apply contents;
  }

  .grid-table
    :is(th, td, [role~='columnheader'], [role~='rowheader'], [role~='cell']) {
    @apply flex items-center gap-1;
  }

  /*
   * Without this, sr-only elements where causing scroll bars to appear in
   * some browsers
   */
  .sr-only {
    @apply top-0;
  }

  optgroup {
    @apply font-bold;
  }
}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

@layer components {
  .wbs-form {
    --new-cell: theme('colors.indigo.350');
    --invalid-cell: theme('colors.red.300');
    --modified-cell: theme('colors.yellow.250');
    --search-result: theme('colors.green.300');
    @apply dark:[--new-cell:theme('colors.indigo.900')]
      dark:[--invalid-cell:theme('colors.red.900')]
      dark:[--modified-cell:theme('colors.yellow.900')]
      dark:[--search-result:theme('colors.green.900')];
  }

  .custom-select {
    --custom-select-b1: theme('colors.white');
    --custom-select-b2: theme('colors.brand.100');
    --custom-select-accent: theme('colors.brand.100');
    @apply dark:[--custom-select-b1:theme('colors.neutral.800')]
      dark:[--custom-select-b2:theme('colors.brand.500')]
      dark:[--custom-select-accent:theme('colors.brand.500')];
  }

  .custom-select-group-required-fields,
  .custom-select-input-required {
    --custom-select-b1: theme('colors.cyan.100');
    --custom-select-b2: theme('colors.cyan.200');
    --custom-select-accent: theme('colors.cyan.300');
    @apply dark:[--custom-select-b1:theme('colors.cyan.900')]
      dark:[--custom-select-b2:theme('colors.cyan.800')]
      dark:[--custom-select-accent:theme('colors.cyan.700')];
  }

  .custom-select-group-hidden-fields,
  .custom-select-input-hidden {
    --custom-select-b1: theme('colors.gray.200');
    --custom-select-b2: theme('colors.gray.300');
    --custom-select-accent: theme('colors.gray.350');
    @apply dark:[--custom-select-b1:theme('colors.neutral.800')]
      dark:[--custom-select-b2:theme('colors.neutral.700')]
      dark:[--custom-select-accent:theme('colors.neutral.600')];
  }

  .custom-select-group-suggested-mappings {
    --custom-select-b1: theme('colors.green.200');
    --custom-select-b2: theme('colors.green.300');
    --custom-select-accent: theme('colors.green.400');
    @apply dark:[--custom-select-b1:theme('colors.green.700')]
      dark:[--custom-select-b2:theme('colors.green.600')]
      dark:[--custom-select-accent:theme('colors.green.500')];
  }
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer utilities {
  /*
   * Smartly inverts leaflet layer's color scheme. Source:
   * https://gist.github.com/BrendonKoz/b1df234fe3ee388b402cd8e98f7eedbd
   */
  .invert-leaflet-layer {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
      saturate(0.3) brightness(0.7);
  }
}

/* Leaflet dark mode */
.leaflet-bar a {
  @apply dark:!border-b-neutral-600 dark:!bg-black dark:!text-white
    hover:dark:!bg-brand-400;
}

.leaflet-control-layers,
.leaflet-popup-content-wrapper,
.leaflet-popup-tip,
.leaflet-control-attribution {
  @apply dark:!bg-black dark:!text-neutral-300;
}

.leaflet-control-layers-separator {
  @apply dark:!border-t-neutral-600;
}

/*
 * Workaround for https://github.com/Leaflet/Leaflet/issues/6986
 * This can be removed after updating Leaflet to 1.8.0
 * REFACTOR: remove this after updating Leaflet
 */
.leaflet-container :focus {
  outline: revert !important;
}

/* The CodeMirror editor styleds*/
.cm-theme,
.cm-editor {
  @apply h-full;
}
