@import url('./custom-theme/jquery-ui-1.10.2.custom.css');
@import url('~jquery-contextmenu/dist/jquery.contextMenu.css');

/* TODO: make save buttons be on the right side in dialogs */
/* TODO: revisit reports ui */
@import url('./icons.css');

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/* TODO: get rid of most global styles once everything is using React components */
@layer base {

  * {
    /*
     * If changing "duration-100", don't forget to change "transitionDuration"
     * in "./components/basic.tsx"
     */
    @apply transition duration-100 ease-in-out motion-reduce:!transition-none
           motion-reduce:!transform-none;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply p-1 bg-gray-200 rounded accent-brand-200;
  }

  select {
    @apply pr-5 bg-right;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply cursor-pointer text-brand-200;
  }

  label {
    @apply cursor-pointer;
  }

  form:not(.not-submitted) input:invalid,
  input:not(.not-touched):invalid,
  form:not(.not-submitted) select:invalid,
  select:not(.not-touched):invalid,
  form:not(.not-submitted) textarea:invalid,
  textarea:not(.not-touched):invalid {
    @apply bg-red-400;
  }

  textarea {
    @apply w-full;
  }

  :disabled:not(.icon), [readonly] {
    @apply cursor-not-allowed bg-gray-400 text-gray-700;
  }

  .icon:disabled {
    @apply cursor-not-allowed;
  }

  :required {
    @apply bg-blue-200;
  }

  [type='radio']:focus,
  [type='checkbox']:focus {
    @apply ring-2 ring-offset-1 !important;
  }

  /* Hide up/down arrows */
  /* Firefox */
  [type='number'].no-arrows {
    -moz-appearance: textfield;
  }
  /* Webkit */
  [type='number'].no-arrows::-webkit-outer-spin-button,
  [type='number'].no-arrows::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }


  [type='number']:not([readonly]):not(.no-arrows)::-webkit-inner-spin-button,
  [type='number']:not([readonly]):not(.no-arrows)::-webkit-outer-spin-button {
    /* Always show spinner buttons */
    @apply opacity-100;
  }

  [type='number']:not([readonly]):not(.no-arrows)::-webkit-outer-spin-button,
  [type='number']:not([readonly]):not(.no-arrows)::-webkit-inner-spin-button {
    /* Make spinner buttons larger */
    -webkit-appearance: inner-spin-button !important;
    @apply w-[2] absolute top-0 right-0 h-full;
  }

  [type='number'].webkit:not([readonly]):not(.no-arrows) {
    @apply text-right relative pr-1.5
  }

  .button {
    @apply border rounded cursor-pointer active:brightness-80 bg-gray-300
    border-zinc-400 disabled:bg-gray-200 disabled:border-gray-300
    disabled:text-gray-500 gap-2 hover:bg-brand-200
    inline-flex items-center px-2 py-1 text-black;
  }

  button[aria-pressed='true']:not(.aria-handled) {
    @apply bg-white;
  }

  .link, .icon {
    @apply text-black gap-2 inline-flex items-center hover:text-brand-300
    active:underline cursor-pointer;
  }

  .icon {
    @apply active:bg-brand-100;
  }

  [type='submit'].link,
  [type='button'].link {
    @apply border-none text-left;
  }

  @media print {
    /* Hide arrows, calendar icon and other symbols */
    input, select, textarea {
      @apply bg-none m-0 appearance-none;
    }
  }

  progress::-webkit-progress-bar {
    @apply bg-gray-200 rounded;
  }
  progress::-webkit-progress-value {
    @apply bg-brand-200 rounded;
  }
  progress::-moz-progress-bar {
    @apply bg-brand-200 rounded;
  }


  /* Display tooltips as an overlay on touch-screen devices */
  @media (pointer: coarse), (hover: none) {
    [title] {
      @apply relative inline-flex justify-center;
    }

    [title]:focus::after {
      @apply w-fit absolute p-1 text-black bg-white border border-black
             content-[attr(title)] top-[90%]
    }
  }

  /*
   * Grid-based table implementation for increased flexibility
   * Does not sacrifice accessibility thanks to [role] attributes
   * Allows for things like sticky headers and having entire row be a link
   * You can set column sizes by adding a className like this:
   *   grid-cols-[repeat(4,_1fr)_auto_auto_min-content_minmax(30px,_1fr)]
   */
  table.grid-table,
  .grid-table[role="table"] {
    @apply grid
  }

  .grid-table thead,
  .grid-table tbody,
  .grid-table tr,
  .grid-table [role="rowgroup"],
  .grid-table [role="row"] {
    @apply contents
  }

  .grid-table th,
  .grid-table td,
  .grid-table [role="columnheader"],
  .grid-table [role="rowheader"],
  .grid-table [role="cell"] {
    @apply flex items-center gap-x-1;
  }

}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

@layer components {
  .wbs-form {
    --new-cell: theme('colors.indigo.350');
    --invalid-cell: theme('colors.red.300');
    --modified-cell: theme('colors.yellow.250');
    --search-result: theme('colors.green.300');
  }

  .custom-select {
    --custom-select-b1: theme('colors.white');
    --custom-select-b2: theme('colors.brand.100');
    --custom-select-accent: theme('colors.brand.100');
  }

  .custom-select-group-required-fields {
    --custom-select-b1: theme('colors.cyan.100');
    --custom-select-b2: theme('colors.cyan.200');
    --custom-select-accent: theme('colors.cyan.300');
  }

  .custom-select-group-hidden-fields {
    --custom-select-b1: theme('colors.gray.300');
    --custom-select-b2: theme('colors.gray.400');
    --custom-select-accent: theme('colors.gray.500');
  }

  .custom-select-group-suggested-mappings {
    --custom-select-b1: theme('colors.green.200');
    --custom-select-b2: theme('colors.green.300');
    --custom-select-accent: theme('colors.green.400');
  }
}


/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer utilities {

}
