/* notifications.css */

#site-notifications {
  white-space: pre;
}

#site-notifications[disabled] {
  color: var(--t1);
}

#site-notifications.unread-notifications {
  color: var(--b1);
  background: var(--accent);
  padding: var(--quarter-size);
  font-weight: 800;
  border: var(--border-size) solid var(--accent-hover);
}

.notifications-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--half-size);
}

.notifications-container article {
  display: flex;
  flex-direction: column;
}

.notifications-container article:not(:last-child) {
  padding-bottom: var(--half-size);
  border-bottom: var(--border-size) solid var(--border);
}

.notifications-container article header {
  display: flex;
  justify-content: space-between;
}

.notifications-container p {
  margin: 0;
}

.notifications-container a {
  color: var(--accent);
}
