/* notifications.css */

#site-notifications[disabled] {
    color: var(--t1);
}

#site-notifications:not([disabled]) {
    color: var(--b1);
    background: var(--accent);
    padding: 4px;
    font-weight: bold;
    border: 1px solid var(--accent-hover);
}

.notification-message {
    margin-bottom: 1.5em;
    background: #fff;
    padding: 5px;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.8);
}

.notification-message a {
    color: #f4763d;
}