/* prepreturndialog.css */

.prepreturndialog th {
    text-align: center;
}

.prepreturndialog .unresolved-count,
.prepreturndialog .return-prep-type {
    text-align: center;
}

.prepreturndialog input.return-amt,
.prepreturndialog input.resolve-amt {
    width: 50px;
    text-align: right;
}

.prepreturndialog input.return-remark {
    width: 100%;
}
