/* queryresults.css */

.express-search-view {
  width: 100%;
}

.query-results-table.ui-accordion-content {
  max-height: 20em;
  padding: 1em 1.2em;
}

.query-results-table.ui-accordion-content > div {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.33), 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #ddd;
}

.fetching-more img {
  height: 32px;
  width: 32px;
}

.query-results th {
  vertical-align: top;
  white-space: nowrap;
  border-bottom: 1px solid;
  text-align: center;
  color: #fff;
}

.query-results th img {
  height: 1.2em;
  margin-right: 0.8em;
}

.query-results td {
  border-right: 1px solid #aaa;
  padding: 5px;
}

.query-result-link {
  width: 100%;
  display: block;
  min-height: 0.8rem;
}

.query-results th {
  background: #f79244;
  border: none;
}

.query-results td:last-child {
  border: none;
}

.query-results tbody tr {
  background: #eee;
}

.query-results tr:nth-child(odd) {
  background: #fff;
}
