.querycbx-strct {
    display: flex;
    width: 100%;
    align-items: center;
}

.querycbx-strct button {
    width: 16px;
}

.querycbx-search-results {
    background-color: #fff;
    height: 15em;
    width: 40em;
    overflow: auto;
    padding: 0.5em 1em;
}
