.query-results-table.ui-accordion-content {
    max-height: 20em;
    padding: 1em 1.2em;
}

.fetching-more img {
    height: 32px;
    width: 32px;
}

.query-results {
    border-top: 1px solid;
    border-left: 1px solid;
}

.query-results th {
    vertical-align: top;
    white-space: nowrap;
    border-bottom: 1px solid;
}

.query-results th img {
    height: 1.2em;
    margin-right: 0.8em;
}

.query-results th, .query-results td {
    border-right: 1px solid;
}

.query-results thead tr {
    background-color: #d3d3d3;
}

.query-results tbody tr {
    background-color: #e0ffff;
}

.query-results tr:nth-child(even) {
    background-color: white;
}
