/* queryresults.css */

.express-search-view {
  width: 100%;
}

.query-results-table.ui-accordion-content {
  max-height: 20em;
  padding: 1em 1.2em;
}

.query-results-table.ui-accordion-content > div {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.33), 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #ddd;
}

.fetching-more img {
  height: 32px;
  width: 32px;
}

.query-results-count {
  padding-left: var(--size);
}

.query-results-table [role="table"] {
  display: table !important;
  width: 100%;
}

.query-results-table [role="rowgroup"]:first-child [role="row"] {
  position: sticky;
  top: 0;
}

.query-results-table [role="row"] {
  display: table-row !important;
}

.query-results-table [role="columnheader"] {
  display: table-cell !important;
  white-space: nowrap;
  border-bottom: var(--border-size) solid var(--border);
  background: var(--accent-pale);
  color: var(--b1);
  padding: var(--quarter-size);
  font-weight: bold;
}

.query-results [role="cell"] {
  padding: var(--quarter-size);
  display: table-cell !important;
}

.query-results [role="cell"]:not(:last-child) {
  border-right: var(--border-size) solid var(--border);
}

.query-result-link {
  width: 100%;
  display: block;
  min-height: 0.8rem;
}

.query-results [role="row"]:nth-child(odd) [role="cell"] {
  background: var(--b2);
}
