.recordselector-slider {
  display: flex;
  justify-content: center;
  column-gap: var(--half-size);
}

.recordselector-slider .input-panel {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.recordselector-slider .input-panel,
.recordselector-slider button {
  align-items: center;
  color: #000;
  font-weight: 800;
}

.recordselector-slider button {
  font-size: var(--size);
  display: flex;
  border-radius: var(--quarter-size);
}

.recordselector-slider button[data-action="previous"],
.recordselector-slider button[data-action="next"] {
  border: var(--border-size) solid var(--border);
  background: var(--b1);
  padding: 0 var(--size);
}

.recordselector-slider button[data-action="first"],
.recordselector-slider button[data-action="last"] {
  border: var(--border-size) solid var(--border);
  background: var(--b2);
  padding: calc(var(--quarter-size) / 2) var(--quarter-size);
}

.recordselector-slider button:disabled {
  background: var(--b1);
  color: var(--b2);
  border-color: var(--b2);
}

.input-container {
  position: relative;
  width: fit-content;
  height: 100%;
}

.recordselector-slider input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: calc(100% - var(--half-size));
  height: 100%;
  border: none;
  color: inherit;
  font: inherit;
  background: var(--b1);
  border-radius: var(--quarter-size);
  padding: 0 var(--quarter-size);
}

.input-container::after {
  content: attr(data-value) ' ';
  visibility: hidden;
  padding: 0 var(--quarter-size);
}
