.schema-config header {
  display: flex;
  column-gap: var(--half-size);
}

.schema-config menu {
  display: contents;
  list-style: none;
}

.schema-config-content {
  display: flex;
  height: 100%;
  column-gap: var(--size);
}

.schema-config h2,
.schema-config h3 {
  margin: 0;
}

.schema-config-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--size);
}

.schema-config section {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--size);
  overflow-y: auto;
}

.schema-config section > select {
  height: 100%;
  overflow: auto;
}

.schema-config section > div {
  flex: 1;
  display: flex;
  column-gap: var(--half-size);
}

.schema-config label,
.schema-config .group {
  display: flex;
  column-gap: var(--quarter-size);
}

.schema-config label:not(.horizontal) {
  flex-direction: column;
}

.schema-config label.horizontal {
  align-items: center;
}

.schema-config textarea {
  height: 15vh;
  resize: vertical;
}

.language-link {
  font-weight: 800;
}

.language-link:not(:hover) {
  color: inherit;
}

.schema-config fieldset {
  border: none;
}

.schema-config legend {
  padding: 0;
  font-size: var(--size);
  color: var(--t3);
}

.schema-config .group select {
  flex: 1;
  width: 0;
}

@media (max-width: 768px) {
  .schema-config-content {
    row-gap: var(--size);
    flex-direction: column;
    height: unset;
  }

  .schema-config section {
    overflow-y: unset;
  }

  .schema-config section > select {
    min-height: 30vh;
  }
}
