@media print {
    #site-header {
        display: none;
    }

    body {
        color: #000;
        background-color: #fff;
    }

    a {
        color: #000 !important;
    }

    .savebutton,
    .deletebutton,
    .specify-edit
    {
        display: none;
    }

    .querycbx-edit,
    .querycbx-display,
    .querycbx-add,
    .querycbx-clone,
    .querycbx-search
    {
        display: none !important;
    }

    .partialdateui-precision, .specify-plugin-weblink {
        display: none !important;
    }

    .recordselector-slider {
        display: none !important;
    }

    .specify-attachment-display {
        background-color: #fff;
    }

    select, input, textarea, .ui-button, .specify-subview-button-count {
        border: 1px solid #000 !important;
        color: #000 !important;
        background-color: #fff !important;
        background: none;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}