/* specifyform.css */

main {
    --shadow-size: 4px;

    flex: 1;
    margin: 0 calc(1rem - var(--shadow-size)) calc(1rem - var(--shadow-size));
    overflow: auto;
}

.content-shadow, .content, .content-shadow-full-width {
    box-shadow: 0 0 var(--shadow-size) calc(var(--shadow-size) / 2) rgba(0, 0, 0, 0.33);
    height: calc(100% - var(--shadow-size) * 2);
    margin-top: var(--shadow-size);
    border: 1px solid #ddd;
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: #f1f2f2;
    padding: var(--size);
    height: calc(100% - 2 * var(--size) - var(--shadow-size) * 2);
}

.content-no-shadow {
    margin: 0 var(--shadow-size);
}

.content-shadow-full-width {
    width: calc(100% - var(--shadow-size) * 2);
    margin-left: var(--shadow-size);
}

.specify-root-form {
    background: #f1f2f2;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: fit-content;
    height: unset;
    max-height: calc(100% - var(--shadow-size) * 2);
    overflow-y: scroll;
    padding-bottom: 2px;
}

div.specify-view-content-container {
    padding: 0 21px;
}

div.specify-view-content {
    display: inline-block;
}

.specify-form-header,
.specify-form-buttons {
    padding: 0 26px;
}

.specify-form-header {
    border-bottom: solid 2px #f4763d;
    color: #000;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-top: 10px;
}

.specify-form-header .view-title {
    flex: 1;
    margin: 0;
    color: var(--t2);
}

.specify-view-content fieldset {
    border: none;
}

.specify-subview-header {
    border-bottom: solid 1px #555;
    display: flex;
    column-gap: var(--half-size);
    margin-top: var(--size);
    margin-bottom: var(--half-size);
    font-weight: bold;
}

.specify-subview-header legend {
    font-size: var(--size);
    color: var(--t4);
}

.specify-subview-header > div {
    display: contents;
}

.recordset-header {
    display: flex;
    align-items: center;
    font-weight: initial;
}

.recordset-header:not([title=""]) {
    border: 1px solid #ccc;
}

.recordset-header > span, .recordset-header > a {
    padding: 0.4rem 0.6rem;
    margin: 0;
}

.recordset-header .recordset-navigation {
    background: var(--accent-pale);
}

.recordset-header .recordset-navigation:hover {
    background: var(--b2);
}


.recordset-navigation-text {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 3px;
}

.recordset-navigation-current {
    text-align: center;
}

.specify-form-header span.recordset-navigation {
    color: #999;
    font-size: 0.8em;
    background: transparent;
}

.specify-form-header img {
    vertical-align: bottom;
    margin: 0 2px 2px 0;
    height: 24px;
}

.specify-form-buttons {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #f4763d;
    padding-top: 4px;
}

/* If there is only one button, align it to the right */
.specify-form-buttons > *:only-child {
    display: block;
    width: fit-content;
    margin-left: auto;
}

.specify-form-buttons input {
    margin-left: 10px;
    border-radius: 0;
    border: 2px solid #f4763d;
    background: #f79244;
    color: #fff;
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
}

.specify-form-buttons input:hover,
.specify-form-buttons input:focus {
    outline: none;
    border: 2px solid #f79244;
    background: #f4763d;
}

.specify-form-buttons input:active {
    color: #000;
}

.specify-form-buttons input:disabled {
    background: #d3d3d3;
    border: 2px solid #d3d3d3;
}

.specify-form-buttons .deletebutton {
    padding: 4px;
    font-weight: bold;
}

textarea.specify-field {
    width: 100%;
}

input.specify-field[type='text'],
.querycbx-strct input,
.specify-object-formatted {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input.specify-field[type='text'][readonly],
.querycbx-strct input[readonly],
.specify-object-formatted[readonly] {
    background: #eee;
    color: #555;
}

input.specify-field[type='text'][readonly]:focus,
.querycbx-strct input[readonly]:focus,
.specify-object-formatted[readonly]:focus {
    outline: none;
}

select.specify-field {
    width: 100%;
}

.specify-field[required] {
    background-color: #c8e6ff;
}

.specify-field[type=number].chrome {
    text-align:right;
    position: relative;
    /* Make room for spinner buttons */
    padding-right: calc(var(--size) * 1.3);
}

.specify-field[type=number]::-webkit-inner-spin-button,
.specify-field[type=number]::-webkit-outer-spin-button {
    /* Always show spinner buttons */
    opacity: 1;
}

.specify-field[type=number]::-webkit-outer-spin-button,
.specify-field[type=number]::-webkit-inner-spin-button {
    /* Make spinner buttons larger */
    -webkit-appearance: inner-spin-button !important;
    width: var(--half-size);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

h1.separator,
h2.separator,
h3.separator,
h4.separator,
h5.separator {
    border-bottom: solid 1px;
}

hr.separator {
    border: none;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.specify-form-label {
    text-align: right;
}

.specify-checkbox-label {
    vertical-align: middle;
    margin-left: 3px;
}

.partialdateui {
    display: flex;
    column-gap: var(--quarter-size);
}

.partialdateui label {
    display: flex;
}

.partialdateui input, .partialdateui select {
    margin: 0;
}

ul.ui-autocomplete li.ui-menu-item {
    list-style-type: none;
}

.specify-subview-header .ui-icon {
    display: inline-block;
}

.specify-subview-button-count {
    padding: 3px;
    font-weight: bold;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #777;
    color: #444;
}

.specify-subviewbutton-icon {
    max-width: 40px;
    max-height: 20px;
}

.specify-subview-button .ui-button-text div {
    display: table-row;
}

.specify-subview-button a {
    vertical-align: middle;
}

.specify-formtable td,
.specify-formtable th {
    text-align: center;
}

.specify-formtable .expanded-form {
    padding: 12px;
}

.specify-formtable > tbody > tr > td {
    border: 1px solid #9a9a9a;
}

.specify-formtable > tbody > tr > td.expand,
.specify-formtable > tbody > tr > td.contract,
.specify-formtable > tbody > tr > td.remove {
    border: none;
    vertical-align: top;
}

.specifyplugin-latlonui table {
    width: 100%;
    border: 1px solid;
}

.specifyplugin-latlonui th,
.specifyplugin-latlonui td {
    text-align: center;
}

input[type='submit'].saveblocked {
    background: red;
}

.saveblocked,
input:not(.specify-field):invalid,
input.touched:invalid,
form.submitted input:invalid,
input.touched:invalid {
    background-color: red !important;
}

.tooltip {
    display: none;
    position: absolute;
    text-align: center;
    color: grey;
}

.tooltip-content {
    background-color: grey;
    color: white;
    padding: 8px;
    border-width: 1px;
    border-color: black;
    margin-top: -3px;
}

.tooltip li {
    list-style-type: none;
}

.savebutton,
.deletebutton {
    display: inline;
}

.collectionrelonetomanyplugin {
    background-color: #fff;
    border: 1px inset;
}

.specify-plugin-weblink {
    position: relative;
    height: 35px;
}

.specify-plugin-weblink input {
    position: absolute;
    top: 5px;
    left: 45px;
}

.specify-plugin-weblink a {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
}

.specify-plugin-weblink a img {
    max-width: 20px;
    max-height: 20px;
}

.specify-plugin-weblink a .ui-button-text {
    padding: 5px;
}

.ui-helper-hidden-accessible {
    top: 0;
}
