.magic-button {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.2rem;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #555;
  transition: background var(--animation-duration) ease,
    border var(--animation-duration) ease;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: var(--quarter-size);
}

.magic-button:hover,
.magic-button[aria-pressed='true'] {
  background: var(--b1);
}

.magic-button:active,
.magic-button[aria-pressed='true']:hover {
  background: #ccc;
}

.magic-button[aria-pressed='true']:active,
.magic-button[disabled] {
  background: #ccc;
  color: #888;
}

.magic-button[disabled] {
  cursor: no-drop;
}

.v-center {
  display: flex;
  align-items: center;
}

.new-tab-link-icon {
  width: var(--half-size);
  padding-left: var(--quarter-size);
}

.table-icon {
  width: var(--table-icon-size);
  min-width: var(--table-icon-size);
  height: var(--table-icon-size);
}

.table-icon-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table-icon:not(.table-icon-image) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-icon-generated {
  border-radius: var(--border-radius);
  color: var(--b1);
}

.table-icon-selected {
  color: var(--success);
  font-weight: 800;
}

.table-icon-undefined {
  color: var(--error);
  margin-top: -0.1rem;
}

.fake-link {
  border: none;
  background-color: transparent;
  text-align: left;
  margin: 0;
  padding: 0;
  display: inline-flex;
  column-gap: var(--quarter-size);
  align-items: center;
}

.fake-link:not([disabled]) {
  cursor: pointer;
  color: var(--t1);
}

.fake-link:not([disabled]):hover {
  color: var(--accent);
}

.fake-link:hover {
  color: var(--accent);
  cursor: pointer;
}

.fake-link[aria-pressed='true'] .ui-icon {
  background-color: var(--b1);
}

.sr-only {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  opacity: 0.1;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only:active,
.sr-only:hover,
.sr-only:focus {
  background: var(--accent);
  color: var(--t1);
  opacity: 1;
  clip: unset;
  padding: var(--half-size);
  display: inline-block;
  height: auto;
  width: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}

menu {
  margin: 0;
  padding: 0;
}

.sort-indicator {
  color: var(--accent);
}

/* Reset user-agent table styles
 * Copied from:
 * https://stackoverflow.com/questions/13076227/css-reset-table-to-default-equivalent/27851231
 */
table.grid-table,
.grid-table thead,
.grid-table tbody,
.grid-table tfoot,
.grid-table tr,
.grid-table th,
.grid-table td {
  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

table.grid-table,
.grid-table[role='table'] {
  /*--cols: 2;*/

  display: grid;
  /*grid-template-columns: repeat(calc(var(--cols) + 1), minmax(0, 1fr));*/
  grid-template-columns: auto auto min-content;
  grid-gap: var(--quarter-size);
}

.grid-table thead,
.grid-table tbody,
.grid-table tr,
.grid-table [role='rowgroup'],
.grid-table [role='row'] {
  display: contents;
}

.grid-table th,
.grid-table td,
.grid-table [role='columnheader'],
.grid-table [role='rowheader'],
.grid-table [role='cell'] {
  display: flex;
  align-items: center;
}

.grid-table th,
.grit-table [role='columnheader'],
.grit-table [role='rowheader'] {
  padding-bottom: var(--half-size);
}

.grid-table td,
.grid-table th,
.grid-table td a,
.grid-table [role='cell'],
.grid-table [role='cell'] a {
  font-size: 0.8rem;
}

.grid-table .pl-table-icon {
  padding-left: calc(var(--table-icon-size) + var(--quarter-size));
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

/*
 * Add a span with this class as a child of a display:flex.
 * This element would occupy all free space, pushing elements on either size
 * to the edge.
 *
 * If there isn't any free space, this element shrinks to 0px.
 */
.spacer {
  --gap-eater: var(--half-size);

  flex: 1;

  /* Offsets the space occupied by column-gap */
  margin-left: calc(-1 * var(--gap-eater));
}

.contents {
  display: contents;
}
