.magic-button {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0.2rem;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 400;
  color: #555;
  transition: background 0.2s, border 0.2s;
  cursor: pointer;
}

.magic-button:hover {
  background: #fff;
}

.magic-button:active {
  background: #ccc;
}

.magic-button[disabled] {
  cursor: no-drop;
  background: #ccc;
  color: #888;
}

@media (prefers-reduced-motion) {
  .magic-button {
    transition: none;
  }
}


.v-center {
  display: flex;
  align-items: center;
}