.button[aria-pressed='true'] {
  background: var(--b1);
}

.button[aria-pressed='true']:hover {
  background: #ccc;
}

.button[aria-pressed='true']:active {
  background: #ccc;
  color: #888;
}

.v-center {
  display: flex;
  align-items: center;
  column-gap: var(--quarter-size);
}

.table-icon {
  width: var(--table-icon-size);
  min-width: var(--table-icon-size);
  height: var(--table-icon-size);
}

.table-icon-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table-icon:not(.table-icon-image) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-icon-generated {
  border-radius: var(--border-radius);
  color: var(--b1);
}

.table-icon-selected {
  color: var(--success);
  font-weight: 800;
}

.table-icon-undefined {
  color: var(--error);
  margin-top: -0.1rem;
}

/*
// TODO: Find where this is used (tree viewer and other places)
.link[aria-pressed='true'] .ui-icon {
  background-color: var(--b1);
}
*/

/* TODO: make skip link focusable */
/*
.sr-only {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  opacity: 0.1;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only:active,
.sr-only:hover,
.sr-only:focus {
  background: var(--accent);
  color: var(--t1);
  opacity: 1;
  clip: unset;
  padding: var(--half-size);
  display: inline-block;
  height: auto;
  width: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
 */

.sort-indicator {
  color: var(--accent);
}

