/* tree.css */

/* TODO: replace the icons library */

.tree-node-cell button.open .ui-icon {
    /* .ui-icon-triangle-1-e */
    background-position: -32px -16px;
}

.tree-node-cell button.close .ui-icon {
    /* .ui-icon-triangle-1-s  */
    background-position: -64px -16px;
}

.tree-node-cell button.wait .ui-icon {
    /* .ui-icon-clock  */
    background-position: -80px -112px;
}

.tree-node-cell button.leaf .ui-icon {
    /* .ui-icon-radio-off */
    background-position: -112px -144px;
}

.context-menu-item:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: -20px;
    float: left;
    background-image: url(custom-theme/images/ui-icons_222222_256x240.png);
}

.context-menu-item.icon-open:before {
    background-position: -64px -112px;
}

.context-menu-item.icon-view:before {
    background-position: -160px -112px;
}

.context-menu-item.icon-query:before {
    background-position: -48px -144px;
}

.context-menu-item.icon-add-child:before {
    background-position: -32px -128px;
}

.context-menu-item.icon-move:before {
    background-position: -112px -96px;
}

.context-menu-item.icon-merge:before {
    background-position: -208px -48px;
}

.context-menu-item.icon-synonymize:before {
    background-position: -112px -80px;
}

.context-menu-item.icon-receive-move:before,
.context-menu-item.icon-receive-synonym:before,
.context-menu-item.icon-receive-merge:before {
    background-position: -48px -64px;
}

.context-menu-item.icon-cancel:before {
    background-position: 0 -128px;
}