/* tree.css */

div.tree-view {
    height: 100%;
}

.tree-view h1 {
    float: left;
}

.tree-view .tree-search {
    margin-left: 20px;
    width: 180px;
    background: #f1f2f2;
    border: 1px solid #aaa;
    font-size: 14px;
}

.tree-view table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    margin-top: 6px;
    padding: 0 20px;
    background: #f1f2f2;
    box-shadow: 0 0 4px rgba(0,0,0,.33), 0 2px 4px rgba(0,0,0,.5);
    border: 1px solid #ddd;
}

.tree-view thead th {
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    vertical-align: top;
}

.tree-view thead .tree-header-collapsed {
    writing-mode: vertical-rl;
    width: 1.2em;
    max-height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tree-view tfoot th {
    height: 20px;
}

.tree-view th, .tree-view td {
    border: 1px none;
    background: linear-gradient(
                        to right,
                        rgba(247, 146, 68, 0) 10px,
                        rgba(247, 146, 68, 0.1) 90%,
                        rgba(247, 146, 68, 0) 100%
                    );
    white-space: nowrap;
}

.tree-view td.tree-vertical-edge {
    border-left: 1px solid #555;
}

.tree-view td.tree-horizontal-edge {
    border-bottom: 1px solid #555;
}

.tree-node .expander {
    display: inline-block;
    vertical-align: bottom;
}

.tree-node-cell p {
    padding-top: 10px;
    margin: 0 0 -12px -5px;
}

.tree-node-cell a {
    color: #000;
}

.tree-node .tree-synonym-node {
    color: #f00;
}

.tree-node-cell .ui-icon.open {
    /* .ui-icon-triangle-1-e */
    background-position: -32px -16px;
}

.tree-node-cell .ui-icon.close {
    /* .ui-icon-triangle-1-s  */
    background-position: -64px -16px;
}

.tree-node-cell .ui-icon.wait {
    /* .ui-icon-clock  */
    background-position: -80px -112px;
}

.tree-node-cell .ui-icon.leaf {
    /* .ui-icon-radio-off */
    background-position: -112px -144px;
}


.context-menu-item:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-left: -20px;
    float: left;
    background-image: url(custom-theme/images/ui-icons_222222_256x240.png);
}

.context-menu-item.icon-open:before {
    background-position: -64px -112px;
}

.context-menu-item.icon-view:before {
    background-position: -160px -112px;
}

.context-menu-item.icon-query:before {
    background-position: -48px -144px;
}

.context-menu-item.icon-add-child:before {
    background-position: -32px -128px;
}

.context-menu-item.icon-move:before {
    background-position: -112px -96px;
}

.context-menu-item.icon-merge:before {
    background-position: -208px -48px;
}

.context-menu-item.icon-synonymize:before {
    background-position: -112px -80px;
}

.context-menu-item.icon-receive-move:before,
.context-menu-item.icon-receive-synonym:before,
.context-menu-item.icon-receive-merge:before {
    background-position: -48px -64px;
}

.context-menu-item.icon-cancel:before {
    background-position: 0 -128px;
}

.tree-action-hint {
    position: fixed;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

.tree-action-hint div {
    display: inline-block;
    padding: 8px 8px 8px 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.8), 5px 5px 5px rgba(0,0,0,0.42);
}

.tree-action-hint button {
    margin-left: 10px;
}