.wbs-dialog-table {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 1rem;
}

.wbs-dialog-header,
.wbs-dialog-body,
.wbs-dialog-row {
  display: contents;
}

.wbs-dialog-header .wbs-dialog-cell {
  padding: 0 0 2px;
}

.wbs-dialog-header .wbs-dialog-cell:first-child {
  padding-left: 21px;
}

.wbs-dialog-row .wbs-dialog-cell:first-child {
  overflow-x: auto;
}

.wbs-dialog-cell a {
  font-weight: 300;
  display: flex;
}

.wbs-dialog-cell,
.wbs-dialog-cell a {
  font-size: 0.8rem;
}

.wbs-dialog-cell {
  padding-top: 0.6rem;
}

.wbs-dialog-cell img {
  padding-right: 5px;
}
