.workbench-import-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.8rem;
}

.wb-import-table {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  align-items: center;
  width: 30vw;
  min-width: 400px;
  margin: 0 0.2rem;
}

.wb-import-table > label {
  display: contents;
}

.custom-file-picker a {
  margin-left: -0.2rem;
}

.custom-file-picker.custom-file-picker-dragging a {
  background: #fff;
  border-color: #23f;
}

.custom-file-picker input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.workbench-import-view .preview-table-wrapper {
  overflow: auto;
}

.workbench-import-view table {
  background-color: #fff;
}

.workbench-import-view table tr.header {
  background-color: #ddd;
  text-align: center;
}

.workbench-import-view table th {
  border: 1px solid #ddd;
  border-bottom-color: #888;
}

.workbench-import-view table td {
  border: 1px solid #888;
}
