/* ROOT */
#screen__mapping {
    --b1: #fff;
    --b2: #ddd;
    --b3: #bbb;
    --b4: #999;
    --t1: #000;
    --t2: #222;
    --t3: #444;
    --t4: #666;
    --border: #ccc;

    width: 100%;
}



/* HEADER */
#wbplanview_header {
    display: flex;
    justify-content: space-between;
}

#wbplanview_mapping_header {
    display: flex;
}

#title__table_name {
    font-weight: bold;
}

#mappings_control_panel {
	display: flex;
	align-items: center;
}



/* GENERAL */
#wbplanview_container {
	padding: 2rem 0;
}

#list__tables a {
    display: block;
}



/* MAPPING CONTROLS */
#add_mapping {
	padding: 0.3rem !important;
	border: none;
	height: 1.6rem;
	cursor: pointer;
	background: var(--b2);
	margin-right: 1rem;
}

#add_mapping img {
	width: 1rem;
	height: 1rem;
}

#add_mapping:hover {
	background: var(--b3);
}



/* MAPPINGS LINE */
.wbplanview_mappings_line {
	display: flex;
    margin-bottom: 0.3rem;
}



/* MAPPINGS LINE CONTROLS */
.wbplanview_mappings_line_controls button {
    border: none;
    background: var(--b2);
    cursor: pointer;
    padding: 0.3rem;
    height: 1.6rem;
}

.wbplanview_mappings_line_controls {
	width: 7.2rem;
}

.wbplanview_mappings_line_controls button img {
    width: 1rem;
    height: 1rem;
}

.wbplanview_mappings_line_controls button:hover {
    background: var(--b3);
}

.rotate-90 {
	transform: rotate(90deg);
}

.rotate-270 {
	transform: rotate(270deg);
}



/* MAPPINGS LINE ELEMENTS */
.wbplanview_mappings_line_elements {
	display: flex;
	align-items: center;
}

.wbplanview_mappings_line_elements > * {
	margin-left: 0.7rem;
}

.hide_hidden_fields [data-field_group="hidden_fields"] {
    display: none;
}

.mapping_arrow {
	width: 1rem;
}
