/* ROOT */
#screen__mapping {
    --b1: #fff;
    --b2: #ddd;
    --b3: #bbb;
    --b4: #999;
    --t1: #000;
    --t2: #222;
    --t3: #444;
    --t4: #666;
    --border: #ccc;

    width: 100%;
	display: grid;
	grid-template-rows: auto auto 1fr auto auto;
	grid-gap: 1rem;
	height: calc(100vh - 150px);
}


/* HEADER */
#wbplanview_header {
    display: flex;
    justify-content: space-between;
}

#wbplanview_mapping_header {
    display: flex;
}

#title__table_name {
    font-weight: bold;
}

#mappings_control_panel {
    display: flex;
    align-items: center;
}


/* GENERAL */
#wbplanview_container {
    display: contents;
}

#mapping_view_parent {
    display: flex;
	flex-wrap: nowrap;
	overflow-y: scroll;
}

#mapping_view {
    	display: flex;
	flex-wrap: nowrap;
}

#list__tables a {
    display: block;
}


/* MAPPING GENERAL */
#add_mapping {
    padding: 0.3rem !important;
    border: none;
    height: 1.6rem;
    cursor: pointer;
    background: var(--b2);
    margin-right: 1rem;
}

#add_mapping img {
    width: 1rem;
    height: 1rem;
}

#add_mapping:hover {
    background: var(--b3);
}

#list__mappings {
    display: grid;
	grid-template-columns: 2.2rem max-content auto;
	grid-auto-rows: max-content;
	grid-row-gap: 1rem;
	overflow-x: hidden;
}


/* MAPPINGS LINE */
.wbplanview_mappings_line {
    display: contents;
}

.wbplanview_mappings_line > * {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1rem;
}

.wbplanview_mappings_line > *:not(:last-child) {
	padding-right: 0.6rem;
}


/* MAPPINGS LINE CONTROLS */
.wbplanview_mappings_line_controls button {
    border: none;
    background: var(--b2);
    cursor: pointer;
    padding: 0.3rem;
    height: 100%;
    width: 100%;
}

.wbplanview_mappings_line_controls button:hover {
    background: var(--b3);
}

.wbplanview_mappings_line_controls button img {
    width: 1rem;
    height: 1rem;
}


/* MAPPINGS LINE ELEMENTS */
.wbplanview_mappings_line_header {
    display: flex;
    align-items: center;
}

.wbplanview_mappings_line_elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.6rem;
}


.hide_hidden_fields [data-field_group="hidden_fields"] {
    display: none;
}

.mapping_arrow {
    width: 1rem;
}


/* CUSTOM SELECT ELEMENT */
.custom_select {
    --line_height: 1rem;
    --line_padding: 0.5rem;
    --text1: #000;
    --text2: #666;
    --background1: #fff;
	--background2: #fdb;
	--accent: #f73;
    --lines_to_display: 10;
    --border_size: 1px;
    background-color: var(--background1);
    color: var(--text1);
    cursor: pointer;
    display: grid;
    grid-template-areas:
		"header next_arrow"
		"options next_arrow";
    grid-template-columns: auto calc(2 * var(--line_height));
    width: max-content;
    position: relative;
}

.custom_select:after {
	content: '\2192';
	font-size: var(--line_height);
	padding-left: var(--line_padding);
	display: flex;
	align-items: center;
	grid-area: next_arrow;
}

.custom_select:last-child:after {
	visibility: hidden;
}

.custom_select_header, .custom_select_input {
    grid-area: header;
	border: var(--border_size) solid var(--accent);
}

.custom_select_header {
	padding: calc(var(--line_padding) * 2);
	display: flex;
	gap: var(--line_padding);
}

.custom_select_input {
    --base_width: auto;
    width: calc(calc(var(--base_width) - calc(2 * var(--line_padding))) - 2px);
}

.custom_select_input:after {
    content: '\25BC';
    float: right;
}

.custom_select_input:hover:after {
    color: var(--text2);
}

.custom_select_options {
    border: var(--border_size) solid var(--accent);
    border-top: 0;
    visibility: hidden;
    max-height: calc(calc(var(--line_height) + calc(2 * var(--line_padding))) * var(--lines_to_display));
	overflow-y: scroll;
    background-color: var(--background1);
	position: absolute;
	top: calc(calc(var(--line_height) + calc(2 * var(--line_padding))) - var(--border_size));
    z-index: 2;
    width: max-content;
}

.custom_select_open .custom_select_options, .custom_select_size_multiple .custom_select_options {
    visibility: visible;
}

.custom_select_size_multiple .custom_select_options {
    position: initial;
}

.custom_select_group {
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
}

.custom_select_group[data-group="optional_fields"] {
	--background1: #ffd;
	--background2: #fdb;
	--accent: #f73;
}

.custom_select_group[data-group="required_fields"] {
	--background1: #dff;
	--background2: #cff;
	--accent: #3ef;
}

.custom_select_group[data-group="hidden_fields"] {
	--background1: #ccc;
	--background2: #aaa;
	--accent: #666;
}

.hide_hidden_fields .custom_select_group[data-group="hidden_fields"] {
	visibility: hidden;
    height: 0;
	overflow: hidden;
}

.custom_select_group_label {
    background-color: var(--background2);
    padding: calc(0.5 * var(--line_padding));
    color: var(--text2);
    cursor: initial;
}

.custom_select[data-type="to_many"] .custom_select_group_label {
	display: none;
}

.custom_select_option {
    padding: var(--line_padding);
    padding-left: calc(var(--line_padding) * 2);
}

.custom_select_input, .custom_select_option {
    display: grid;
    grid-template-columns: calc(var(--line_padding) * 2) 1fr minmax(calc(var(--line_padding) * 1.6), auto);
    grid-column-gap: var(--line_padding);
    padding: var(--line_padding);
    min-height: var(--line_height);
}

.custom_select_option:hover, .custom_select_option:focus {
    background-color: var(--background2);
}

.custom_select_option_selected:not(.custom_select_option_relationship) .custom_select_option_icon:after,
.custom_select_option_disabled .custom_select_option_icon:after,
.custom_select[data_value_is_relationship="false"] .custom_select_input .custom_select_input_icon:after {
	content: '\2713';
	display: flex;
	justify-content: center;
    color: #4f2;
}

.custom_select[data_value_is_relationship="false"][data-value="0"] .custom_select_input .custom_select_input_icon:after {
    content: '\20E0';
    color: #f24;
    margin-top: -0.1rem;
}

.custom_select_option_disabled, .custom_select_option_selected {
    cursor: initial;
}

.custom_select_option_disabled {
    color: var(--text2);
    background-color: var(--background1) !important;
}

.custom_select_option_selected {
    background-color: var(--accent) !important;
}

.custom_select_option_relationship:after {
    content: '\25B6';
}