/* ROOT */
.wbplanview {
  --b1: #fff;
  --b2: #ddd;
  --b3: #bbb;
  --b4: #999;
  --t1: #000;
  --t2: #222;
  --t3: #444;
  --t4: #666;
  --border: #ccc;
  --menu-size: 119px;
  --white-space: 0.5rem;
  --text1: #000;
  --text2: #666;
  --background1: #fff;
  --background2: #fdb;
  --accent: #f73;
  --success: #4f2;
  --error: #f24;
  --lines-to-display: 8;
  --border-size: 1px;
  --original-height: unset;

  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: calc(100vh - var(--menu-size) - 30px);
}

.wbplanview-event-listener {
  display: contents;
}

/* HEADER */
.wbplanview-header {
  display: flex;
  justify-content: space-between;
}

.wbplanview-header > div {
  display: flex;
  column-gap: var(--white-space);
}

.wbplanview-header i {
  color: var(--success);
  font-size: 12px;
}

/* CONTAINER */
.wbplanview-container {
  flex: 1;
  overflow: hidden;
}

/* BASE TABLE SELECTION STATE */
.wbplanview-container-BaseTableSelectionState .custom-select {
  height: 100%;
}

.wbplanview-container-BaseTableSelectionState .custom-select-options {
  max-height: unset;
  height: unset;
}

/* MAPPING STATE */
.wbplanview-container-MappingState {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* MAPPING VIEW */
.mapping-view-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: calc(4 * var(--white-space));
  height: 100%;
  width: max-content;
}

.mapping-view-parent {
  overflow-x: auto;
  max-height: 50vh;
  height: var(--original-height);
  resize: vertical;
}

.mapping-view {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mapping-view .custom-select {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapping-view .custom-select:last-of-type {
  display: flex;
  flex-direction: column;
}

.mapping-view .custom-select-options {
  max-height: unset;
  height: 100%;
}

.wbplanview-mapping-view-map-button {
  font-size: calc(2 * var(--white-space));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wbplanview-mapping-view-map-button-arrow {
  color: var(--success);
}

.mapping-view-resizer {
  margin-bottom: calc(var(--white-space) * -1);
  height: var(--white-space);
  cursor: pointer;
  border: 1px solid var(--b2);
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
}

.mapping-view-resizer:hover {
  border-color: var(--b4);
}


/* MAPPING GENERAL */
.mapping-line-list {
  flex: 1;
  display: grid;
  grid-template-columns: 2.2rem max-content auto;
  grid-auto-rows: max-content;
  overflow-x: hidden;
}

/* VALIDATION RESULTS */
.validation-results {
  display: flex;
  flex-direction: column;
  row-gap: var(--white-space);
  overflow-y: scroll;
  max-width: 30vw;
}

.validation-results .wbplanview-mapping-line-elements:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.validation-results .custom-select {
  margin-bottom: 0.4rem;
}


/* MAPPING LINE */
.wbplanview-mapping-line {
  display: contents;
}

.wbplanview-mapping-line > * {
  border-bottom: 1px solid var(--border);
  padding: var(--white-space) 0;
}

.wbplanview-mapping-line > *:not(:first-child) {
  padding-left: 0.6rem;
}

.wbplanview-mapping-line-focused > .wbplanview-mapping-line-elements {
  background: var(--b2);
}


/* MAPPING LINE CONTROLS */
.wbplanview-mapping-line-controls button {
  border: none;
  background: var(--b2);
  cursor: pointer;
  padding: 0.3rem;
  height: 100%;
  width: 100%;
}

.wbplanview-mapping-line-controls button:hover {
  background: var(--b3);
}

.wbplanview-mapping-line-controls button img {
  width: calc(2 * var(--white-space));
  height: calc(2 * var(--white-space));
}


/* MAPPINGS LINE ELEMENTS */
.wbplanview-mapping-line-header {
  display: flex;
  align-items: center;
}

.wbplanview-mapping-line-elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
}

.wbplanview-mapping-line-divider {
  font-size: calc(1.5 * var(--white-space));
  text-align: center;
  padding: 0 var(--white-space);
}


/* CUSTOM SELECT ELEMENT */
.custom-select {
  color: var(--text1);
  display: grid;
  grid-template-areas:
    "header"
    "options";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: calc(4 * var(--white-space) + 2px);
  position: relative;
}

.custom-select-suggestion-list:not(.controlled) {
  position: absolute;
  bottom: calc(4 * var(--white-space));
}

.custom-select-suggestion-list.controlled {
  position: fixed;
  height: auto;
  z-index: 10;
}

.custom-select-closed-list .custom-select-options,
.custom-select-closed-list .custom-select-suggestion-list {
  box-shadow: 0 0 calc(0.5 * var(--white-space)) calc(0.5 * var(--white-space)) var(--border);
}

.custom-select-closed-list .custom-select-options {
  clip-path: inset(0 calc(-1 * var(--white-space)) calc(-1 * var(--white-space)) calc(-1 * var(--white-space)));
}

.custom-select-closed-list .custom-select-suggestion-list {
  clip-path: inset(calc(-1 * var(--white-space)) calc(-1 * var(--white-space)) 0 calc(-1 * var(--white-space)));
}

.custom-select-mapping-options-list {
  padding-left: var(--white-space);
}

.custom-select-mapping-option-line-list {
  height: unset;
}

.custom-select-header,
.custom-select-input {
  grid-area: header;
  border: var(--border-size) solid var(--accent);
  background-color: var(--background1);
}

.custom-select-header {
  padding: calc(var(--white-space) * 2);
  display: flex;
  row-gap: var(--white-space);
  column-gap: var(--white-space);
}

.custom-select-input {
  cursor: pointer;
}

.custom-select-preview-list .custom-select-input {
  cursor: initial;
}

.custom-select-suggestion-line-list .custom-select-input {
  grid-template-columns: calc(var(--white-space) * 2) 1fr;
}

.custom-select-mapping-options-list .custom-select-input,
.custom-select-mapping-options-list .custom-select-option {
  display: flex;
  align-items: center;
  padding: var(--white-space);
}

.custom-select-mapping-options-list .custom-select-input-icon,
.custom-select-mapping-options-list .custom-select-option-icon {
  display: none;
}

.custom-select-mapping-options-list .custom-select-input-label {
  font-size: calc(var(--white-space) * 2.8);
  margin-bottom: 3px;
}

.custom-select-element-shadow-list {
  margin-top: calc(var(--white-space) * -2);
  padding-right: calc(calc(var(--white-space) * 7) + 7px);
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.custom-select-element-shadow-list span {
  line-height: 0;
  padding: 0;
}

.custom-select-input,
.custom-select-option {
  display: grid;
  grid-template-columns: calc(var(--white-space) * 2) 1fr var(--white-space);
  grid-column-gap: var(--white-space);
  padding: var(--white-space);
  min-height: calc(2 * var(--white-space));
}

.custom-select-input:hover:after {
  color: var(--text2);
}

.custom-select-options,
.custom-select-suggestion-list:not(.controlled) {
  height: -moz-fit-content;
  height: fit-content;
}

.custom-select-options {
  overflow-y: scroll;
  max-height: calc(calc(4 * var(--white-space)) * var(--lines-to-display));
  border: var(--border-size) solid var(--accent);
  background-color: var(--background1);
  z-index: 2;
  width: auto;
  min-width: max-content;
  cursor: pointer;
}

.custom-select-options:not(:first-child) {
  border-top: 0;
}

.custom-select-options::-webkit-scrollbar {
  width: 5px !important;
  background: var(--b1);
}

.custom-select-options::-webkit-scrollbar-thumb {
  background: var(--b3);
}

.custom-select-group {
  background-color: var(--background1);
  display: flex;
  flex-direction: column;
}

.custom-select-group-optional-fields {
  --background1: #fff;
  --background2: #fdb;
  --accent: #f73;
}

.custom-select-group-required-fields {
  --background1: #dff;
  --background2: #cff;
  --accent: #3ef;
}

.custom-select-group-hidden-fields {
  --background1: #ccc;
  --background2: #aaa;
  --accent: #666;
}

.custom-select-group-suggested-mappings {
  --background1: #dfd;
  --background2: #bfc;
  --accent: #9f9;
}

.custom-select-group-label {
  background-color: var(--background2);
  padding: calc(0.5 * var(--white-space));
  color: var(--text2);
  cursor: initial;
}

.custom-select-option:hover,
.custom-select-option:focus {
  background-color: var(--background2);
}

.custom-select-suggestion-list .custom-select-option {
  display: inline;
  padding-left: var(--white-space);
}

.custom-select-suggestion-list .custom-select-option-label {
  display: flex;
  align-items: center;
}

.custom-select-option-disabled,
.custom-select-option-selected {
  cursor: initial;
}

.custom-select-option-disabled {
  color: var(--text2);
  background-color: var(--background1) !important;
}

.custom-select-option-selected {
  background-color: var(--accent) !important;
}

.custom-select-option-icon-selected {
  display: flex;
  justify-content: center;
  color: var(--success);
}

.custom-select-option-icon-undefined {
  color: var(--error);
  margin-top: -0.1rem;
  justify-content: center;
  display: flex !important;
  align-items: center;
  overflow: hidden;
}

.custom-select-option-icon-table-undefined {
  color: var(--background1);
  border-radius: 3px;
  justify-content: center;
  display: flex !important;
  align-items: center;
  overflow: hidden;
}

.custom-select-option-icon-table {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-select-opened-list .custom-select-option-icon-table {
  width: calc(2 * var(--white-space));
}

.must-match-line {
  column-gap: 0.5rem;
  display: flex;
  align-items: center;
}

.must-match-line span {
  width: 1rem;
  height: 1rem;
}