/* ROOT */
#screen__mapping {
    --b1: #fff;
    --b2: #ddd;
    --b3: #bbb;
    --b4: #999;
    --t1: #000;
    --t2: #222;
    --t3: #444;
    --t4: #666;
    --border: #ccc;

    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-gap: 1rem;
    height: calc(100vh - 150px);
}

#screen__mapping.hide_mapping_view {
    grid-template-rows: auto 1fr auto auto;
}


/* HEADER */
#wbplanview_header {
    display: flex;
    justify-content: space-between;
}

#wbplanview_mapping_header {
    display: flex;
}

#title__table_name {
    font-weight: bold;
}

#mappings_control_panel {
    display: flex;
    align-items: center;
}


/* GENERAL */
#list__tables a {
    display: block;
}

#wbplanview_container {
    display: contents;
}


/* MAPPING VIEW */
#mapping_view_parent {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

#mapping_view_container {
    display: contents;
}

#mapping_view {
    display: flex;
    flex-wrap: nowrap;
}

#screen__mapping.hide_mapping_view #mapping_view_parent {
    display: none;
}

#wbplanview_mapping_view_map_button {
	font-size: 1rem;
}

#wbplanview_mapping_view_map_button:after {
	content: '\2192';
	font-size: 2rem;
	display: flex;
	align-items: center;
	color: #0f0;
}


/* MAPPING GENERAL */
#add_mapping {
    padding: 0.3rem !important;
    border: none;
    height: 1.6rem;
    cursor: pointer;
    background: var(--b2);
    margin-right: 1rem;
}

#add_mapping img {
    width: 1rem;
    height: 1rem;
}

#add_mapping:hover {
    background: var(--b3);
}

#list__mappings {
    display: grid;
    grid-template-columns: 2.2rem max-content auto;
    grid-auto-rows: max-content;
    overflow-x: hidden;
}


/* MAPPINGS LINE */
.wbplanview_mappings_line {
    display: contents;
}

.wbplanview_mappings_line > * {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
}

.wbplanview_mappings_line > *:not(:last-child) {
    padding-right: 0.6rem;
}

.wbplanview_mappings_line_focused > .wbplanview_mappings_line_elements {
    background: var(--b2);
}


/* MAPPINGS LINE CONTROLS */
.wbplanview_mappings_line_controls button {
    border: none;
    background: var(--b2);
    cursor: pointer;
    padding: 0.3rem;
    height: 100%;
    width: 100%;
}

.wbplanview_mappings_line_controls button:hover {
    background: var(--b3);
}

.wbplanview_mappings_line_controls button img {
    width: 1rem;
    height: 1rem;
}


/* MAPPINGS LINE ELEMENTS */
.wbplanview_mappings_line_header {
    display: flex;
    align-items: center;
}

.wbplanview_mappings_line_elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.6rem;
    padding-left: 0.5rem;
}


.hide_hidden_fields [data-field_group="hidden_fields"] {
    display: none;
}

.mapping_arrow {
    width: 1rem;
}


/* CUSTOM SELECT ELEMENT */
.custom_select {
    --white_space: 0.5rem;
    --text1: #000;
    --text2: #666;
    --background1: #fff;
    --background2: #fdb;
    --accent: #f73;
    --lines_to_display: 10;
    --border_size: 1px;
    --base_width: auto;
    color: var(--text1);
    display: grid;
    grid-template-areas:
		"header next_arrow"
		"options next_arrow";
    grid-template-columns: auto calc(4 * var(--white_space));
	grid-template-rows: auto 1fr;
    width: calc(var(--base_width) + calc(4 * var(--white_space)));
    position: relative;
}

.custom_select:after {
    content: '\2192';
    font-size: calc(2 * var(--white_space));
    padding-left: var(--white_space);
    display: flex;
    align-items: center;
    grid-area: next_arrow;
}

.custom_select:last-of-type:after {
    visibility: hidden;
}

.custom_select_header, .custom_select_input {
    grid-area: header;
    border: var(--border_size) solid var(--accent);
    background-color: var(--background1);
}

.custom_select_header {
    padding: calc(var(--white_space) * 2);
    display: flex;
    gap: var(--white_space);
}

.custom_select_input {
    --base_width: auto;
    width: calc(calc(var(--base_width) - calc(2 * var(--white_space))) - 2px);
    cursor: pointer;
}

.custom_select_input:after {
    content: '\25BC';
    float: right;
}

.custom_select_input:hover:after {
    color: var(--text2);
}

.custom_select_options {
    border: var(--border_size) solid var(--accent);
    border-top: 0;
    visibility: hidden;
    max-height: calc(calc(4 * var(--white_space)) * var(--lines_to_display));
    overflow-y: scroll;
    background-color: var(--background1);
    position: absolute;
    top: calc(calc(4 * var(--white_space)) - var(--border_size));
    z-index: 2;
    width: max-content;
    cursor: pointer;
}

.custom_select_open .custom_select_options, .custom_select_size_multiple .custom_select_options {
    visibility: visible;
}

.custom_select_size_multiple .custom_select_options {
    position: initial;
}

.custom_select_group {
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
}

.custom_select_group[data-group="optional_fields"] {
    --background1: #ffd;
    --background2: #fdb;
    --accent: #f73;
}

.custom_select_group[data-group="required_fields"] {
    --background1: #dff;
    --background2: #cff;
    --accent: #3ef;
}

.custom_select_group[data-group="hidden_fields"] {
    --background1: #ccc;
    --background2: #aaa;
    --accent: #666;
}

.hide_hidden_fields .custom_select_group[data-group="hidden_fields"] {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.custom_select_group_label {
    background-color: var(--background2);
    padding: calc(0.5 * var(--white_space));
    color: var(--text2);
    cursor: initial;
}

.custom_select[data-type="to_many"] .custom_select_group_label {
    display: none;
}

.custom_select_option {
    padding: var(--white_space);
    padding-left: calc(var(--white_space) * 2);
}

.custom_select_input, .custom_select_option {
    display: grid;
    grid-template-columns: calc(var(--white_space) * 2) 1fr minmax(calc(var(--white_space) * 1.6), auto);
    grid-column-gap: var(--white_space);
    padding: var(--white_space);
    min-height: calc(2 * var(--white_space));
}

.custom_select_option:hover, .custom_select_option:focus {
    background-color: var(--background2);
}

.custom_select_option_selected:not(.custom_select_option_relationship) .custom_select_option_icon:after,
.custom_select_option_disabled .custom_select_option_icon:after,
.custom_select[data_value_is_relationship="false"] .custom_select_input .custom_select_input_icon:after {
    content: '\2713';
    display: flex;
    justify-content: center;
    color: #4f2;
}

.custom_select[data_value_is_relationship="false"][data-value="0"] .custom_select_input .custom_select_input_icon:after {
    content: '\20E0';
    color: #f24;
    margin-top: -0.1rem;
}

.custom_select_option_disabled, .custom_select_option_selected {
    cursor: initial;
}

.custom_select_option_disabled {
    color: var(--text2);
    background-color: var(--background1) !important;
}

.custom_select_option_selected {
    background-color: var(--accent) !important;
}

.custom_select_option_relationship:after {
    content: '\25B6';
}