#screen__mapping {
    --b1: #fff;
    --b2: #ddd;
    --b3: #bbb;
    --b4: #999;
    --t1: #000;
    --t2: #222;
    --t3: #444;
    --t4: #666;
    --border: #ccc;
}

.wbplanview_table {
    display: block;
}