/* ROOT */
.wbplanview {
  --mapping-view-min-height: 250px;
  --mapping-view-max-height: 50vh;
  --mapping-view-height: unset;
}

.wbplanview {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--size);
}

.wbplanview-event-listener {
  display: contents;
}

/* HEADER */
.wbplanview .wbplanview-header {
  display: flex;
  column-gap: var(--half-size);
  white-space: nowrap;
}

.wbplanview-ds-name-container {
  display: contents;
}

.wbplanview-ds-name {
  column-gap: var(--quarter-size);
  overflow-x: auto;
  font-size: calc(var(--size) * 0.8);
  font-weight: 400;
  color: var(--t1);
}

/* TODO: Overwrite default browser styles globally */
h2.wbplanview-ds-name {
  margin: 0;
}

.wbplanview-header-controls {
  display: contents;
}

.wbplanview-readonly-badge {
  color: var(--error);
}

.magic-button.validation-indicator-success {
  background: var(--success);
}

/* CONTAINER */
.wbplanview-container {
  flex: 1;
  overflow: hidden;
}

/* BASE TABLE SELECTION STATE */
.wbplanview-base-table-selection {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--half-size);
}
.custom-select-base-table-selection-list {
  flex: 1;
}

.custom-select-base-table-selection-list .custom-select-options {
  max-height: unset;
  height: unset;
  border: none;
}

.custom-select-base-table-selection-list
  .custom-select-option-relationship-icon {
  display: none;
}

/* MAPPING STATE */
.wbplanview-mapping-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--size);
}

.wbplanview-readonly .custom-select-options {
  cursor: initial;
}

/* MAPPING VIEW */
.mapping-view-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: var(--double-size);
  height: 100%;
  width: max-content;
}

.mapping-view-parent {
  min-height: var(--mapping-view-min-height);
  max-height: var(--mapping-view-max-height);
  height: var(--mapping-view-height);
  overflow-x: auto;
  resize: vertical;
  position: relative;
}

.mapping-view-resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: var(--size);
  pointer-events: none;
  z-index: -1;
  cursor: pointer;
}

.mapping-view {
  flex-wrap: nowrap;
}

.mapping-view .custom-select {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapping-view .custom-select:last-of-type {
  display: flex;
  flex-direction: column;
}

.mapping-view .custom-select-options {
  max-height: unset;
  height: 100%;
}

.wbplanview-mapping-view-map-button {
  font-size: var(--size) !important;
  flex-direction: column;
  justify-content: center;
  padding: var(--half-size) !important;
}

.wbplanview-mapping-view-map-button-arrow {
  color: var(--success);
}

.wbplanview-mapping-view-map-button[disabled]
  .wbplanview-mapping-view-map-button-arrow {
  opacity: 0;
}

/* VALIDATION RESULTS */
.validation-results {
  display: flex;
  flex-direction: column;
  row-gap: var(--half-size);
}

.validation-results .wbplanview-mapping-line-elements {
  width: 100%;
  background: transparent;
  cursor: pointer;
  border: 0;
}

.validation-results .wbplanview-mapping-line-elements:hover {
  background: var(--b2);
}

.validation-results .wbplanview-mapping-line-elements:not(:first-of-type) {
  border-top: var(--border-size) solid var(--border);
}

/* MAPPING LINE */
.mapping-line-list {
  flex: 1;
  display: grid;
  grid-template-columns: var(--double-size) max-content auto;
  grid-auto-rows: max-content;
  overflow-x: hidden;
  padding: 0;
  list-style: none;
}

.wbplanview-mapping-line {
  display: contents;
}

.wbplanview-mapping-line > * {
  border-top: var(--border-size) solid var(--border);
  padding: var(--half-size) 0;
}

.wbplanview-mapping-line[aria-current='true']
  > .wbplanview-mapping-line-elements {
  background: var(--b2);
}

/* MAPPING LINE CONTROLS */
.wbplanview-mapping-line-controls button {
  border: none;
  background: var(--b2);
  padding: var(--half-size);
  height: 100%;
  width: 100%;
}

.wbplanview-mapping-line-controls button:not([disabled]):hover {
  background: var(--b3);
}

/* MAPPINGS LINE ELEMENTS */
.wbplanview-mapping-line-header {
  justify-content: flex-end;
  max-width: 25vw;
  padding: 0 var(--half-size);
}

.wbplanview-mapping-line-elements {
  flex-wrap: wrap;
  row-gap: var(--half-size);
}

.wbplanview-mapping-line-divider {
  font-size: var(--size);
  text-align: center;
  padding: 0 var(--half-size);
}

.wbplanview-mapping-line-header-unmapped .custom-select-input {
  border-color: var(--error);
}

.custom-select-preview-list .custom-select-input,
.wbplanview-readonly .custom-select-input {
  cursor: initial;
}

.wbplanview-mapping-line-header-unmapped .wbplanview-mapping-line-header {
  color: var(--error);
  font-weight: 800;
}

/* MATCHING LOGIC */
.grid-table.matching-logic-dialog {
  grid-template-columns: auto auto;
}

/* FOOTER */
.wbplanview-control-panel {
  display: flex;
  align-items: center;
  column-gap: var(--half-size);
}

@media print {
  .wbplanview-mapping-line-controls,
  .mapping-view-parent:after,
  .wbplanview-control-panel {
    display: none;
  }

  .mapping-line-list {
    grid-template-columns: min-content auto;
  }

  .wbplanview-mapping-line-divider {
    padding: 0 var(--quarter-size);
  }

  .wbplanview-mapping-line-elements {
    row-gap: var(--quarter-size);
    padding: var(--quarter-size) 0;
  }
}
