.wbs-dialog-table {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: var(--size);
}

.wbs-dialog-table thead,
.wbs-dialog-table tbody,
.wbs-dialog-table tr {
  display: contents;
}

.wbs-dialog-table th {
  padding: 0 0 2px;
}

.wbs-dialog-table th:first-child {
  padding-left: 21px;
}

.wbs-dialog-table td:first-child {
  overflow-x: auto;
}

.wbs-dialog-table td a {
  font-weight: 300;
  display: flex;
}

.wbs-dialog-table td,
.wbs-dialog-table th,
.wbs-dialog-table td a {
  font-size: 0.8rem;
}

.wbs-dialog-table td {
  padding-top: 0.6rem;
}

.wbs-dialog-table td img {
  padding-right: 5px;
}
