.wb-uploaded-view {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  width: 15rem;
}

.wb-uploaded-view h2,
.wb-uploaded-view p {
  margin: 0;
}

.wb-uploaded-view-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.wb-uploaded-view-line {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
}

.wb-uploaded-view-line .custom-select-icon {
  flex-basis: 20px;
  height: 20px;
}

.custom-select-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-select-option-icon-undefined {
  border-radius: 3px;
  padding: 1px;
  height: inherit;
}
