.wb-uploaded-view {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  width: 15rem;
}

.wb-uploaded-view h2,
.wb-uploaded-view p {
  margin: 0;
}

.wb-uploaded-view-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.wb-uploaded-view-line {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
}

.htCustomMenuRenderer.htDisabled .htItemWrapper {
  word-wrap: initial;
}

.wb-uploaded-view-context-menu {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  padding-bottom: 4px;
}

.wb-uploaded-view-context-menu a {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  padding: 0.1rem;
}

.wb-uploaded-view-context-menu a:hover {
  background: #eee;
}

.wb-uploaded-view-context-menu a img {
  width: 20px;
}
