/* welcome.css */

.specify-welcome {
  max-width: 950px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

.welcome-screen-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-screen-image img {
  max-width: 100%;
  max-height: 70vh;
}

#specify-system-info h2 {
  font-size: 12px;
  text-decoration: underline;
}

.welcome-screen-iframe iframe {
  width: 100%;
  height: 70vh;
  border: 0;
}

.taxon-treemap {
  height: 473px;
}

.treemap .node {
  border: solid 1px #000;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  opacity: 0.85;
}

.treemap p {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: #fff;
  padding: 0 5px;
  opacity: 0.9;
  border: solid 1px #000;
}

#specify-system-info th {
  text-align: right;
  white-space: nowrap;
}

#specify-system-info h1 {
  font-size: 12px;
  text-decoration: underline;
}

.welcome-footer {
  text-align: right;
}
