/* welcome.css */

.specify-welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#specify-system-info th {
  text-align: right;
  white-space: nowrap;
}

#specify-system-info h2 {
  font-size: 12px;
  text-decoration: underline;
}

.treemap .node {
  border: solid 1px #000;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  opacity: 0.85;
}

.treemap p {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: #fff;
  padding: 05px;
  opacity: 0.9;
  border: solid 1px #000;
}
