@import url('../node_modules/handsontable/dist/handsontable.full.css');

/* LAYOUT */
.wbs-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Header */
.wbs-form .wb-header {
  display: contents;
}

.wbs-form .wb-primary-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wb-controls,
.wb-toolkit,
.wb-toolkit-left,
.wb-toolkit-right,
.wb-navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 0.5rem;
}

.wb-controls,
.wb-navigation {
  justify-content: flex-end;
}

.wb-toolkit-left {
  justify-content: flex-start;
}

.wb-toolkit {
  justify-content: space-between;
}

.wbs-form .wb-name {
  font-size: 0.8rem;
}

.wbs-form .wb-name span.ui-icon {
  display: inline-block;
  vertical-align: bottom;
}

.wb-search-replace {
  display: contents;
}

.wb-search-replace input {
  margin: 0;
  vertical-align: baseline;
}

/* Content */
.wb-spreadsheet {
  flex: 1;
}

.wb-upload-view {
  position: absolute;
}

/* HANDSONTABLE overwrites */
.wbs-form .ht_clone_top {
  z-index: 97;
}

.wbs-form .ht_clone_left {
  z-index: 98;
}

.wbs-form .ht_clone_top_left_corner,
.wbs-form .ht_clone_bottom_left_corner {
  z-index: 99;
}

.htCore th > .relative {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.htCore .colHeader {
  display: contents !important;
}

.htCore .colHeader div {
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}

.htCore .colHeader .wb-header-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
}

.handsontable .columnSorting {
  line-height: 20px;
}

.wb-header-icon-undefined {
  color: #f24;
  font-size: 1rem;
  margin-top: -4px;
}

.handsontable .columnSorting::before {
  position: static !important;
  order: 2;
  margin-top: 5px !important;
  margin-right: -13px;
}

/* CONTENT styles */
.handsontable .htPlaceholder {
  color: #66f;
}

.wbs-form .wb-header-unmapped {
  font-style: italic;
}

.wbs-form .wb-cell-unmapped {
  color: #999;
}

.wbs-form.wb-focus-coordinates .wb-coordinate-cell {
  color: #000;
}

.wbs-form .wb-invalid-cells {
  border: solid 1px;
  padding: 8px 5px;
}

.wbs-form .wb-no-match-cell,
.wbs-form .wb-modified-cell,
.wbs-form .wb-invalid-cell,
.wbs-form .wb-search-match-cell,
.wb-navigation-section {
  background-color: var(--accent-color);
}

.handsontable tbody th.ht__highlight,
.handsontable thead th.ht__highlight {
  background-color: #007eff61;
  color: #000;
}

/* The order here determines the priority of the states
 * From the lowest till the highest */
.wbs-form:not(.wb-hide-new-cells) .wb-no-match-cell,
.wb-navigation-section[data-navigation-type='newCells'] {
  --accent-color: #aaf;
}

.wbs-form:not(.wb-hide-invalid-cells) .wb-invalid-cell,
.wb-navigation-section[data-navigation-type='invalidCells'] {
  --accent-color: #faa;
}

.wbs-form:not(.wb-hide-modified-cells) .wb-modified-cell,
.wb-navigation-section[data-navigation-type='modifiedCells'] {
  --accent-color: #ffa;
}

.wbs-form:not(.wb-hide-search-results) .wb-search-match-cell,
.wb-navigation-section[data-navigation-type='searchResults'] {
  --accent-color: #afa;
}

.wb-navigation-section {
  display: flex;
}

.wb-cell-navigation,
.wb-navigation-text {
  transition: 0.2s;
  cursor: pointer;
}

.wb-cell-navigation {
  border: 0;
  padding: 0.4rem;
  background: rgba(0, 0, 0, 0.1);
}

.wb-cell-navigation:hover,
.wbs-form.wb-hide-new-cells
  .wb-navigation-section[data-navigation-type='newCells']
  .wb-navigation-text,
.wbs-form.wb-hide-invalid-cells
  .wb-navigation-section[data-navigation-type='invalidCells']
  .wb-navigation-text,
.wbs-form.wb-hide-modified-cells
  .wb-navigation-section[data-navigation-type='modifiedCells']
  .wb-navigation-text,
.wbs-form.wb-hide-search-results
  .wb-navigation-section[data-navigation-type='searchResults']
  .wb-navigation-text {
  background: rgba(0, 0, 0, 0.3);
}

.wb-navigation-text {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  align-items: center;
  padding: 0 3px;
}

.wb-navigation-position {
  text-align: center;
}

.wb-advanced-search {
  font-size: 1rem;
  padding-top: 0;
}

/* Disambiguation */
.da-container {
  display: flex;
  flex-direction: column;
}

.da-row {
  padding: 0.3rem 0;
}
