@import url('../node_modules/handsontable/dist/handsontable.full.css');

/* LAYOUT */
.wbs-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Header */
.wbs-form .wb-header {
  display: contents;
}

.wbs-form .wb-primary-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wb-controls,
.wb-toolkit,
.wb-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 3px;
}

.wbs-form .wb-name {
  font-size: 16px;
  font-weight: 800;
}

.wbs-form .wb-name span.ui-icon {
  display: inline-block;
  vertical-align: bottom;
}

.wb-search-replace {
  display: contents;
}

.wb-search-replace input {
  margin: 0;
  vertical-align: baseline;
}

/* Content */
.wb-spreadsheet {
  flex: 1;
}

.wb-upload-view {
  display: contents;
}

/* HANDSONTABLE overwrites */
.wbs-form .ht_clone_top {
  z-index: 97;
}

.wbs-form .ht_clone_left {
  z-index: 98;
}

.wbs-form .ht_clone_top_left_corner,
.wbs-form .ht_clone_bottom_left_corner {
  z-index: 99;
}

.htCore th > .relative {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.htCore .colHeader {
  display: contents;
}

.htCore .colHeader div {
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}

.htCore .colHeader .wb-header-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
}

.handsontable .columnSorting {
  line-height: 20px;
}

/* CONTENT styles */
.handsontable .htPlaceholder {
  color: #66f;
}

.wbs-form .wb-header-unmapped {
  color: #999;
}

.wbs-form .wb-invalid-cells {
  border: solid 1px;
  padding: 8px 5px;
}

.wbs-form .wb-no-match-cell,
.wbs-form .wb-invalid-cell,
.wbs-form .wb-search-match-cell,
.wb-navigation-section {
  background-color: var(--accent-color);
}

.wbs-form:not(.wb-hide-new-cells) .wb-no-match-cell,
.wb-navigation-section[data-navigation-type='newCells'] {
  --accent-color: #aaf;
}

.wbs-form:not(.wb-hide-invalid-cells) .wb-invalid-cell,
.wb-navigation-section[data-navigation-type='invalidCells'] {
  --accent-color: #faa;
}

.wbs-form:not(.wb-hide-search-results) .wb-search-match-cell,
.wb-navigation-section[data-navigation-type='searchResults'] {
  --accent-color: #afa;
}

.wb-navigation-section {
  display: flex;
}

.wb-cell-navigation,
.wb-navigation-text {
  transition: 0.2s;
  cursor: pointer;
}

.wb-cell-navigation {
  border: 0;
  padding: 0.3rem;
  background: rgba(0, 0, 0, 0.1);
}

.wb-cell-navigation:hover,
.wbs-form.wb-hide-new-cells
  .wb-navigation-section[data-navigation-type='newCells']
  .wb-navigation-text,
.wbs-form.wb-hide-invalid-cells
  .wb-navigation-section[data-navigation-type='invalidCells']
  .wb-navigation-text,
.wbs-form.wb-hide-search-results
  .wb-navigation-section[data-navigation-type='searchResults']
  .wb-navigation-text {
  background: rgba(0, 0, 0, 0.3);
}

.wb-navigation-text {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  align-items: center;
  padding: 0 3px;
}

.wb-navigation-position {
  text-align: center;
}
