
.workbench-template-editor th {
    text-align: center;
}

.workbench-template-editor th span {
    text-align: left;
}

.workbench-template-editor ul {
    height: 420px;
    overflow-y: auto;
    padding: 0px;
    min-width: 200px;
    background-color: white;
    border: 1px inset;
}

.workbench-template-editor li {
    padding: 2px;
    cursor: pointer;
    border: 1px solid white;
    white-space: nowrap;
}

.workbench-template-editor li img {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    vertical-align: middle;
}

.workbench-template-editor li.selected {
    border: 1px solid black;
}

.workbench-template-editor li.disabled-table {
    background: lightgray;
}

.workbench-template-editor .wb-editor-fields li {
    padding-left: 16px;
}

.workbench-template-editor .wb-editor-fields li.already-mapped {
    background-image: url(/images/Checkmark32x32.png);
    background-size: 15px;
    background-repeat: no-repeat;
}

.workbench-template-editor button {
    padding: 10px;
    margin: 2px 0;
}

.workbench-template-editor th span:first-child {
    float: left;
}

.workbench-template-editor th span:last-child {
    float: right;
}

.wb-editor-mappings li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wb-editor-mappings li span {
    white-space: nowrap;
    margin: 0 5px;
}

.wb-editor-mappings li .spacer {
    width: 45px;
    flex-grow: 1;
    background-color: #aaa;
    height: 1px;
    margin: auto;
}
