body {
    font-family: verdana;
    font-size: 10px;
}

/* table { */
/*     border: solid; */
/* } */

/* td { */
/*     border: solid; */
/*     border-width: 1px; */
/* } */

td, th {
    border: none;
    vertical-align: middle;
}

.specify-form-header {
    border-bottom: solid 1px;
}

.specify-form-header > a {
    margin-left: 1em;
    font-size: 0.5em;
}

textarea {
    width: 100%;
}

input[type="text"] {
    width: 100%;
}

select {
    width: 100%;
}

.separator {
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.specify-form-label {
    text-align: right;
}

.querycbx-strct {
    display: table;
    width: 100%;
}

.querycbx-strct input {
    display: table-cell;
    padding-left: 0;
    padding-right: 0;
}

.querycbx-strct a {
    display: table-cell;
    min-width: 0;
    padding-left: 3px;
}

.specify-subview-button-count {
    border: solid 1px;
    padding: 3px;
}