/*body {
    font-family: verdana;
    font-size: 10px;
}*/

/* table { */
/*     border: solid; */
/* } */

/* td { */
/*     border: solid; */
/*     border-width: 1px; */
/* } */

td, th {
    border: none;
    vertical-align: middle;
}

thead th {
    background: #F8F8F8;
}

.specify-form-header, .specify-subview-header {
    border-bottom: solid 1px;
}

.specify-form-header > a, .specify-subview-header > a {
    margin-left: 1em;
    font-size: 0.5em;
}

textarea {
    width: 100%;
}

input.specify-field[type="text"], .querycbx-strct input, .specify-object-formatted {
    width: 100%;
}

select.specify-field {
    width: 100%;
}

.specify-required-field {
    background-color: #C8E6FF;
}

.separator {
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.specify-form-label {
    text-align: right;
}

.querycbx-strct {
    display: table;
    width: 100%;
}

.querycbx-strct input {
    display: table-cell;
}

.querycbx-strct a {
    display: table-cell;
    width: 16px;
}

.querycbx-edit {
    padding-left: 6px;
}

ul.ui-autocomplete li.ui-menu-item {
    list-style-type: none;
}

.specify-subview-button-count {
    padding: 3px;
    margin-left: 5px;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #CCC;
    color: #555;
}

.specify-formtable td, .specify-formtable th {
    text-align: center;
}

.specifyplugin-latlonui table {
    width: 100%;
}

.specifyplugin-latlonui th, .specifyplugin-latlonui td {
    text-align: center;
}

.specify-datamodel-attrs dt, .specify-datamodel-attrs dd {
    display: inline;
    margin: 5px;
}

input[type="submit"].saveblocked {
    background: red;
}