body {
    font-family: verdana;
    font-size: 10px;
}

/* table { */
/*     border: solid; */
/* } */

/* td { */
/*     border: solid; */
/*     border-width: 1px; */
/* } */

.specify-one-to-many > h3,
.specify-many-to-one > form > h3 {
    border-bottom: solid 1px;
}

.specify-one-to-many > h3 > a {
    margin-left: 1em;
    font-size: 0.5em;
}

textarea {
    width: 98%;
}

input[type="text"] {
    width: 90%;
}

select {
    width: 100%;
}

.separator {
    border-bottom: solid 1px;
}

.form-label {
      text-align: right;
}