<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>

<body style="background-image: url(/images/SpecifyBigSplash.png); background-repeat: no-repeat; background-position: center 100px;">
  <div id="content">
    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
    {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
    <p class="errornote">
      {{ error }}
    </p>
    {% endfor %}
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">
      {% csrf_token %}
      <div class="form-row">
        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
        <label for="id_username" class="required">Username</label> {{ form.username }}
      </div>
      <div class="form-row">
        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
        <label for="id_password" class="required">Password</label> {{ form.password }}
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% if collections %}
      <div class="form-row">
        <label>Collection</label>
        <select name="collection_id">
          {% for collection in collections %}
          <option value="{{ collection.id }}">{{ collection.collectionname }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}
      <div class="submit-row">
        <input type="submit" value="Log in" />
      </div>
    </form>
  </div>
</body>
</html>

