/lib/tests/fixtures/
/lib/tests/ajax/static
*.snap
/../templates/
/../../context/data/
/../../../.git/
/../../../config/
/../static/img/
/../../specify/fixtures/
/../../../.github/ISSUE_TEMPLATE/
/../../../CHANGELOG.md
/../../../release-notes/
/../../../Dockerfile
