/lib/tests/fixtures/
/lib/tests/ajax/static
*.snap
/../templates/
/../../context/data/
/../../../.git/
/../../../config/
/../static/img/
/../../specify/fixtures/
# Uses case sensitive markdown - incompatible with our Prettier config
/../../../.github/ISSUE_TEMPLATE/
# Skipping in case people don't want line wrapping in this file
/../../../CHANGELOG.md
/../../../release-notes/
# Prettier fails to parse the syntax in Dockerfile
/../../../Dockerfile
