@import url("custom-theme/jquery-ui-1.10.2.custom.css");
@import url("vendor/jquery.contextMenu.v1.6.6.css");
@import url("base.css");
@import url("specifyform.css");
@import url("specifyform-print.css");
@import url("vendor/jquery.dataTables.css");

.wbs-form .ht_clone_top {
    z-index: 97;
}

.wbs-form .ht_clone_left {
    z-index: 98;
}

.wbs-form .ht_clone_corner {
    z-index: 99;
}