img.specify-splash {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#express-search {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 10px 5px;
}

.query-results-table.ui-accordion-content {
    max-height: 20em;
    padding: 1em 1.2em;
}

div.specify-view-content,
div.specify-view-content-container,
.specify-form-type-form {
    display: inline-block;
}

.specify-form-header, .specify-subview-header {
    border-bottom: solid 1px;
}

.specify-form-header > .recordset-prev,
.specify-form-header > .recordset-next,
.specify-form-header > a,
.specify-subview-header > a {
    margin-left: 1em;
    font-size: 0.8em;
}

.specify-form-header > span.recordset-prev,
.specify-form-header > span.recordset-next {
    color: lightgrey;
}

.specify-form-header img {
    vertical-align: bottom;
    margin: 0 2px 2px 0;
    height: 24px;
}

.specify-form-buttons {
    text-align: right;
}

.specify-form-buttons input {
    margin-right: 10px;
}

textarea.specify-field {
    width: 100%;
}

input.specify-field[type="text"], .querycbx-strct input, .specify-object-formatted {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

select.specify-field {
    width: 100%;
}

.specify-required-field {
    background-color: #C8E6FF;
}

h1.separator,
h2.separator,
h3.separator,
h4.separator,
h5.separator {
    border-bottom: solid 1px;
}

hr.separator {
    border: none;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: solid 1px;
}

.specify-form-label {
    text-align: right;
}

.specify-checkbox-label {
    vertical-align: middle;
    margin-left: 3px;
}

.querycbx-strct {
    display: table;
    width: 100%;
}

.querycbx-strct input {
    display: table-cell;
}

.querycbx-strct a {
    display: table-cell;
    width: 16px;
}

.querycbx-search-results {
    background-color: #fff;
    height: 15em;
    width: 40em;
    overflow: auto;
    padding: 0.5em 1em;
}

table.partialdateui-strct td:first-child,
table.partialdateui-strct td:last-child {
    padding: 0px;
}

.partialdateui-month-year {
    white-space: nowrap;
}

ul.ui-autocomplete li.ui-menu-item {
    list-style-type: none;
}

.specify-subview-header .ui-icon {
    display: inline-block;
}

.specify-subview-button-count {
    padding: 3px;
    font-weight: bold;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #777;
    color: #444;
}

.specify-subviewbutton-icon {
    padding-right: 5px;
}

.specify-subview-button .ui-button-text div {
    display: table-row;
}

.specify-subview-button a {
    vertical-align: middle;
}

.specify-subviewbutton-icon, .specify-subview-button-count {
    display: table-cell;
    max-width: 40px;
    max-height: 20px;
}

.specify-formtable td, .specify-formtable th {
    text-align: center;
}

.specifyplugin-latlonui table {
    width: 100%;
    border: 1px solid;
}

.specifyplugin-latlonui th, .specifyplugin-latlonui td {
    text-align: center;
}

.specify-datamodel-attrs dt, .specify-datamodel-attrs dd {
    display: inline;
    margin: 5px;
}

input[type="submit"].saveblocked {
    background: red;
}

.saveblocked {
    background-color: red;
}

.tooltip {
    display: none;
    position: absolute;
    text-align: center;
    color: grey;
}

.tooltip-content {
    background-color: grey;
    color: white;
    padding: 8px;
    border-width: 1px;
    border-color: black;
    margin-top: -3px;
}

.tooltip li {
    list-style-type: none;
}

.welcome div {
    vertical-align: top;
}

.welcome h2 {
    border-bottom: solid 1px;
}

.welcome ul {
    padding: 0;
}

.welcome li img {
    vertical-align: middle;
    margin-right: 10px;
    height: 24px;
}

.welcome li {
    font-size: 13px;
    font-weight: bold;
}

.welcome .forms, .welcome .recordsets {
    display: inline-block;
    margin: 0 20px 0px 20px;
}

.welcome .recordset-edit .ui-icon {
    display: inline-block;
    vertical-align: middle;
}

.savebutton, .deletebutton {
    display: inline;
}

.ui-dialog-titlebar a {
    float: left;
}

.specify-attachment-container {
    width: 266px;
    height: 266px;
    position: relative;
    margin: 5px;
}

.specify-attachment-display {
    width: 266px;
    height: 266px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #aaa;
    background-color: #000;
}

a.specify-attachment-original {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #eee;
}

.recordselector-slider {
    width: 90%;
    margin: auto;
    height: 11px;
    background-color: #fff;
    border: 1px inset #ddd;
    border-radius: 4px;
 }

.recordselector-slider .ui-slider {
    height: 100%;
    background: #fff;
    margin: auto;
    border: none;
}


.recordselector-slider .ui-slider-handle {
    margin: 4px;
    min-width: 3px;
    height: 8px;
}

.recordselector-slider .ui-slider-handle .ui-icon {
    margin: -8px auto 0;
    position: relative;
    top: 50%;
}

.recordselector-add-delete-buttons {
    margin-top: 5px;
}

.table-list-dialog table {
    width: 100%;
}

.table-list-dialog td {
    padding: 5px 5px 2px 2px;
}

.table-list-dialog a {
    font-size: 13px;
    font-weight: bold;
}

.table-list-dialog img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.querybuilder-header {
    vertical-align: top;
}

.querybuilder-header img {
    height: 1.2em;
    margin-right: 0.8em;
}

.querybuilder-expand {
    width: 100%
}

.querybuilder-expand .ui-button-text {
    padding: 0;
}

.querybuilder input[type="checkbox"],
.querybuilder input[type="button"] {
   margin-left: 5px;
}

.fetching-more img {
    height: 32px;
    width: 32px;
}

.query-results {
    border-top: 1px solid;
    border-left: 1px solid;
}

.query-results th {
    vertical-align: top;
    white-space: nowrap;
    border-bottom: 1px solid;
}

.query-results th img {
    height: 1.2em;
    margin-right: 0.8em;
}

.query-results th, .query-results td {
    border-right: 1px solid;
}

.query-results thead tr {
    background-color: #d3d3d3;
}

.query-results tbody tr {
    background-color: #e0ffff;
}

.query-results tr:nth-child(even) {
    background-color: white;
}

.spqueryfields {
    padding: 0;
    margin-bottom: 4px;
}

.spqueryfield  {
    background-color: #f0f0f0;
    margin-top: 7px;
    padding: 5px 0px 4px 12px;
    border: 1px inset;
    border-radius: 8px;
}

.spqueryfield.field-incomplete .field-expand,
.spqueryfield.field-incomplete .field-controls {
    display: none;
}

.spqueryfield-delete {
    height: 24px;
    border: 1px inset;
    background-color: #fff;
}

.spqueryfield-delete span {
    margin-left: auto;
    margin-right: auto;
}

.spqueryfield span {
    margin: 0;  /* 10px 0 10px; */
}

.spqueryfield .field-label {
    vertical-align: middle;
    margin-left: 5px;
}

.spqueryfield .field-operation,
.spqueryfield .field-label-field,
.spqueryfield .field-label-datepart,
.spqueryfield .field-label-treerank,
.spqueryfield button {
    margin-right: 10px;
}

.spqueryfield .field-label-field img,
.spqueryfield .field-select-grp img {
    height: 1.2em;
    margin-right: 0.2em;
}

.spqueryfield .field-select-grp img {
    vertical-align: middle;
}

.spqueryfield .field-controls {
    position: absolute;
    right: 25px;
}

.spqueryfield .field-controls.hidden {
    display: none;
}

.spqueryfield label.ui-state-active {
    background-color: #afa;
}

.spqueryfield label.ui-button {
    margin-right: 4px;
}

.spqueryfield label.op-negate {
    margin-right: 5px;
}

.spqueryfield label.op-negate.ui-state-active {
    background-color: #f55;
}

.spqueryfield button {
    vertical-align: middle;
    padding-bottom: 8px;
}

.spqueryfield button.ui-button {
    margin-right: 4px;
    padding: 0;
    width: 32px;
}

.spqueryfield button.ui-button span {
    padding: 0;
}

.collectionrelonetomanyplugin {
    background-color: #fff;
    border: 1px inset;
}

.specify-plugin-weblink {
    position: relative;
    height: 35px;
}

.specify-plugin-weblink input {
    position: absolute;
    top: 5px;
    left: 45px;
}

.specify-plugin-weblink a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
}

.specify-plugin-weblink a img {
    max-width: 20px;
    max-height: 20px;
}

.specify-plugin-weblink a .ui-button-text {
    padding: 5px;
}

.specify-attachment-browser {
    text-align: center;
    background-color: white;
    border: inset 2px;
    padding-top: 20px;
    overflow-y: scroll;
}

.specify-attachment-cell {
    display: inline-block;
    vertical-align: top;
    width: 145px;
    height: 145px;
    margin: 3px;
}

.specify-attachment-cell > div {
    display: inline;
    position: relative;
}

.specify-attachment-dataobj-icon {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
}

.specify-attachment-thumbnail {
    margin-top: 10px;
    margin-left: 8px;
    margin-right: auto;
    border: solid 3px;
    border-radius: 3px;
    box-shadow: -2px 5px 12px;
    max-width: 125px;
    max-height: 125px;
}

.specify-auditlog-entry {
    margin-bottom: 16px;
}

.specify-auditlog-entry h3 img {
    height: 1.5em;
    margin-right: 0.8em;
    float: left;
}

.specify-auditlog-entry p {
    clear: both;
}

.treemap .node {
    border: solid 1px black;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    opacity: 0.85;
}

.treemap p {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: white;
    padding: 0px 5px;
    opacity: 0.9;
    border: solid 1px black;
}

.specify-welcome > p,
.specify-welcome > h2 {
    margin-left: auto;
    margin-right: auto;
}

.query-params-list {
    padding: 0px;
}

.spqueryfield.for-report {
    background-color: rgb(200, 200, 200);
    margin-top: 7px;
    padding: 5px 0px 4px 12px;
}

.spqueryfield .ui-icon-cancel {
    /* work around for bug in jquery UI themes */
    /* that seems to effect ui icons in dialogs */
    background-position: 0 -128px;
}

#specify-system-info th {
    text-align: right;
}

#specify-system-info h1 {
    font-size: 12px;
    text-decoration: underline;
}

.tree-view table {
    width: 100%;
}

.tree-view thead {
    border-bottom: 3px solid #555;
}

.tree-view tfoot th {
    height: 20px;
}

.tree-view td:nth-child(even),
.tree-view th:nth-child(even) {
    background-color: lightblue;
    white-space: nowrap;
}

.tree-view td:nth-child(odd),
.tree-view th:nth-child(odd) {
    background-color: lightyellow;
    white-space: nowrap;
}

.tree-view td.tree-vertical-edge {
    border-left: 2px solid #555;
}

.tree-view td.tree-horizontal-edge {
    border-bottom: 3px solid #555;
}

.tree-node .expander {
    display: inline-block;
    vertical-align: bottom;
}

