name: Sync pre-commit hooks

on:
  schedule:
    # Twice a month, on the 15th and the 29th
    - cron: "23 23 15,29 * *"

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repository
        uses: actions/checkout@v2

      - name: Checkout pre-commit-tools repository
        uses: actions/checkout@v2
        with:
          repository: maxxxxxdlp/pre-commit-tools
          path: ./pre-commit-tools

      - name: Install Node.JS
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        working-directory: ./pre-commit-tools
        run: npm ci

      - name: Sync Local and Global pre-commit configs
        run: node ./pre-commit-tools/pre-commit-tools/syncConfig.js https://raw.githubusercontent.com/maxxxxxdlp/dotfiles/main/git/.pre-commit-config.yaml

      - name: Update Local hooks
        run: node ./pre-commit-tools/pre-commit-tools/updateHooks.js .pre-commit-config.yaml

      - name: Commit changes
        uses: EndBug/add-and-commit@v7.5.0
        with:
          add: .pre-commit-config.yaml
          branch: main
          committer_name: Max Patiiuk
          committer_email: max@patii.uk
          default_author: github_actions
          message: Update pre-commit hooks
          pathspec_error_handling: exitImmediately
          push: true
